<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ryx.RyxUserFollowTeacherMapper">  

    
    
    <sql id="select">
		
		id,
	    user_id userId,
	    teacher_id teacherId
	    
	</sql>

	<sql id="where">
	
	    <where>	    
			<if test="userId != null">
				<![CDATA[ and user_id = #{userId} ]]>
			</if>
			
			<if test="teacherId != null">
				<![CDATA[ and teacher_id = #{teacherId} ]]>
			</if>
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxUserFollowTeacherDTO">   
       insert into ryx_user_follow_teacher(
		    user_id,
		    teacher_id
		) 
       values
       (
       		#{userId},
		    #{teacherId}
       ) 
    </insert>
      

    
    <select id="query" resultType="RyxUserFollowTeacherDTO" parameterType="RyxUserFollowTeacherQuery">
         
        select
         
        <include refid="select"/>
        
        from ryx_user_follow_teacher 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="RyxUserFollowTeacherDTO">         
        select code,name from ryx_user_follow_teacher where ideleted = 0 order by name 		
    </select>
    
    
    <select id="getByTeacherIdUserId" resultType="RyxUserFollowTeacherDTO" parameterType="RyxUserFollowTeacherDTO">   
        select 
        <include refid="select"/>
        from ryx_user_follow_teacher where user_id = #{userId} and teacher_id=  #{teacherId}    
    </select>
    
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxUserFollowTeacherQuery">   
        select count(1) from ryx_user_follow_teacher 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="RyxUserFollowTeacherDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_user_follow_teacher where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUserId" resultType="RyxUserFollowTeacherDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_user_follow_teacher where user_id = #{userId} 
        
    </select>
    
    <select id="queryByUid" resultType="RyxUserFollowTeacherDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from ryx_user_follow_teacher where user_id = #{userId} 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select passd from ryx_user_follow_teacher where uid = #{uid}  limit 1; 
    </select>    
    
    <select id="queryByCode" resultType="RyxUserFollowTeacherDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from ryx_user_follow_teacher where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="RyxUserFollowTeacherDTO">
    
        update ryx_user_follow_teacher
         
        <set>	
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="name1 != null">
				<![CDATA[ name1 = #{name1} ]]>,
			</if>
			
			<if test="ryx_user_follow_teacherType != null">
				<![CDATA[ ryx_user_follow_teacher_type = #{ryx_user_follow_teacherType} ]]>,
			</if>
			
			<if test="ryx_user_follow_teacherScale != null">
				<![CDATA[ ryx_user_follow_teacher_scale = #{ryx_user_follow_teacherScale} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			<if test="member != null">
				<![CDATA[ member = #{member} ]]>,
			</if>

			<if test="contact != null">
				<![CDATA[ contact = #{contact} ]]>,
			</if>
			
			<if test="mobile != null">
				<![CDATA[ mobile = #{mobile} ]]>,
			</if>
			
			<if test="qq != null">
				<![CDATA[ qq = #{qq} ]]>,
			</if>
			
			<if test="email != null">
				<![CDATA[ email = #{email} ]]>,
			</if>
			
			<if test="phone != null">
				<![CDATA[ phone = #{phone} ]]>,
			</if>
			
			<if test="website != null">
				<![CDATA[ website = #{website} ]]>,
			</if>
			
			<if test="industry != null">
				<![CDATA[ industry = #{industry} ]]>,
			</if>
			
			
			 creater = #{creater},
			 tmodified = now() 
			 
		 </set>
		 
		 where	id = #{id} and member=#{member}
		 	
    </update> 
    
    <update id="changePassd" parameterType="RyxUserFollowTeacherDTO">
    	 update ryx_user_follow_teacher set passd = #{passd} where uid = #{uid}
    </update>
    
    <delete id="delete" parameterType="java.lang.String">
    
        update ryx_user_follow_teacher
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
    <delete id="deleteByTeacherIdAndUserId" parameterType="RyxUserFollowTeacherDTO">    
    	delete from ryx_user_follow_teacher where user_id= #{userId} and teacher_id=#{teacherId}		 	
    </delete> 
    
</mapper> 