<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.comm.EducationExperienceMapper">

    
    
    <sql id="select">
		
		id,
	    uid,
	    member,
	    school,
	    major,
	    start_date startDate,
	    end_date endDate,
	    education_level educationLevel,
	    descr,
	    creater,
	    tcreate,
	    tmodified,
	    ideleted
	    
	</sql>

	<sql id="where">
	
	    <where>
	    
			<if test="id != null">
				<![CDATA[ and id = #{id} ]]>
			</if>
			
			<if test="uid != null">
				<![CDATA[ and uid = #{uid} ]]>
			</if>
			
			<if test="member != null">
				<![CDATA[ and member = #{member} ]]>
			</if>
			
			<choose>
				<when test="ideleted != null">
					<![CDATA[  and ideleted = #{ideleted} ]]>
				</when>
				<otherwise>
					<![CDATA[  and ideleted = 0 ]]>
				</otherwise>
			</choose>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="EducationExperienceDTO">   
       insert into education_experience
       	(
       		uid,
       		member,
       		school,
			major,
			start_date,
			end_date,
			education_level,
			descr,
			creater,
			tcreate,
			tmodified,
			ideleted
		) 
       values
       (
	       	#{uid},
			#{member},
			#{school},
			#{major},
			#{startDate},
			#{endDate},
			#{educationLevel},
			#{descr},     
       		#{creater},
       		now(),
       		now(),
       		#{ideleted}
       		
       ) 
    </insert>
      
    
    <select id="query" resultType="EducationExperienceDTO" parameterType="EducationExperienceQuery">
         
        select 
        
		<include refid="select"/>
		
        from education_experience 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="EducationExperienceDTO">
         
        select code,name from education_experience where ideleted = 0 order by name 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="EducationExperienceQuery">   
        select count(1) from education_experience 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="EducationExperienceDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from education_experience where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByIdMember" resultType="EducationExperienceDTO" parameterType="EducationExperienceQuery">   
        select 
        <include refid="select"/>
        from education_experience where id = #{id} and member =#{member} limit 1;
    </select>
    
    <select id="queryByUid" resultType="EducationExperienceDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from education_experience where uid = #{uid}  limit 1; 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select passd from education_experience where uid = #{uid}  limit 1; 
    </select>    
    
    <select id="queryByCode" resultType="EducationExperienceDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from education_experience where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="EducationExperienceDTO">
    
        update education_experience
         
        <set>	
					
			<if test="school != null">
				<![CDATA[ school = #{school} ]]>,
			</if>
			
				
			<if test="major != null">
				<![CDATA[ major = #{major} ]]>,
			</if>
			
			<if test="startDate != null">
				<![CDATA[ start_date = #{startDate} ]]>,
			</if>
			
			<if test="endDate != null">
				<![CDATA[ end_date = #{endDate} ]]>,
			</if>
			
			<if test="educationLevel != null">
				<![CDATA[ education_level = #{educationLevel} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			 creater = #{creater},
			 tmodified = now() 
			 
		 </set>
		 
		 where	id = #{id} and member=#{member}
		 	
    </update> 
    
    <update id="changePassd" parameterType="EducationExperienceDTO">
    	 update education_experience set passd = #{passd} where uid = #{uid}
    </update>
    
    <delete id="delete" parameterType="java.lang.String">
    
        update education_experience
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
</mapper> 