<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.comm.TaskInvoMapper">

	<sql id="where">
	
	    <where>
	    
			<if test="title != null">
				<![CDATA[ and title like '%${title}%' ]]>
			</if>
			
			<if test="uid != null">
				<![CDATA[ and uid = #{uid} ]]>
			</if>
			
			
			<if test="type != null">
				<![CDATA[ and type = #{type} ]]>
			</if>
			
			<if test="creater != null">
				<![CDATA[ and creater = #{creater} ]]>
			</if>
			
			<if test="recver != null">
				<![CDATA[ and recver = #{recver} ]]>
			</if>
			
			
			<choose>
				<when test="ideleted != null">
					<![CDATA[ and ideleted = #{ideleted} ]]>
				</when>
				<otherwise>
					<![CDATA[ and ideleted = 0 ]]>
				</otherwise>
			</choose>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="TaskInvoDTO">   
       
       insert into task_invo(user,ucode,task,tmodified) 
       values
       (#{user},#{ucode},#{task},now()) 
       ON DUPLICATE KEY UPDATE tmodified = now()
              
    </insert>      
    
    <select id="query" resultType="TaskInvoDTO" parameterType="TaskInvoQuery">
         
        select * from task_invo 
        
        <include refid="where"/>
		
		<choose>
			<when test="orderBy != null and orderBy !=''">
				order by ${orderBy}	
				<if test="sooort != null and sooort !=''">
					${sooort}
				</if>	
			</when>
			<otherwise>
				order by tcreate desc 
			</otherwise>
		</choose>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="TaskInvoQuery">   
        select count(1) from task_invo 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="TaskInvoDTO" parameterType="java.lang.Long">   
        select * from task_invo where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="TaskInvoDTO" parameterType="java.lang.String">   
        select * from task_invo where uid = #{uid}  limit 1; 
    </select>  
    
    <select id="queryByCode" resultType="TaskInvoDTO" parameterType="java.lang.String">   
        select * from task_invo where code = #{code}  limit 1; 
    </select> 
    
    <select id="queryByType" resultType="TaskInvoDTO" parameterType="java.lang.String">   
        select * from task_invo where type = #{type}  and ideleted = 0 ; 
    </select> 
    
    
    <update id="update" parameterType="TaskInvoDTO">
    
        update task_invo
         
        <set>	
        				
					
			<if test="type != null">
				<![CDATA[ type = #{type} ]]>,
			</if>
			
			<if test="status != null">
				<![CDATA[ status = #{status} ]]>,
			</if>
			
			<if test="recver != null">
				<![CDATA[ recver = #{recver} ]]>,
			</if>
			
			tmodified = now(),
			creater = #{creater},
			
			
		 </set>
		 
		 where	uid = #{uid}
		 	
    </update> 
    
    
    <delete id="delete" parameterType="java.lang.String">
    
        update task_invo
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
    
    
</mapper> 