<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=1920 initial-scale=1.0">

  <!-- First use the latest version of IE and Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>融易学</title>
  <!-- Keyword -->
  <!-- <meta name="keywords" content=""> -->
  <!-- describe -->
  <meta name="description" content="">

  <!-- 360 use Google Chrome Frame -->
  <meta name="renderer" content="webkit">
  <!-- Baidu prohibition of transcoding -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- Definition of web search engine index -->
  <meta name="robots" content="index,follow">
  <!-- ios -->
  <!-- The title that is added to the main screen -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- Whether WebApp full screen mode is enabled -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Setting the background color of the State Bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Android theme-color  Used to control the color of the tabs -->
  <meta name="theme-color" content="#747474">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Turn off the translation plug-in under the Chrome browser -->
  <meta name="google" value="notranslate" />
  <!-- uc Forced vertical screen -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ Forced vertical screen -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC Mandatory full screen -->
  <meta name="full-screen" content="yes">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/public.css" rel="stylesheet">
  <link href="/css/inStyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/css/font-other.css" />
</head>

<body class="resetStyle">
  <div class="insside-header">
    <div class="container">
      <div class="head-middle">
        <div class="head-l">
          <div class="logo"><a href="/"><img src="/images/logo2.png"></a></div>
          <div class="nav-main">
            <div class="nav-list">
              <div class="item">
                <a class="syht" href="/">首页</a>
              </div>
              <div class="item active">
                <a href="/curriculumList">全部课程</a>
                <i>
                  <img class="down-hide" src="/images/down.png">
                  <img class="down-show" src="/images/down_active.png">
                </i>
                <div class="down-content">
                  <div class="main">
                    <div class="left">
                      <ul class="max-navlist">
                        <li class="active"><a class="pf" href="javacript:void(0);">融资租赁</a></li>
                        <li><a class="pf" href="javacript:void(0);">汽车金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">供应链金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">证券基金</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融科技</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融小动画</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融基础</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="menus-list" id="menus-list">
                        <div class="item active">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">中小微租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">厂商租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">医疗大健康租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">高端制造租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">政府平台租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <a href="/offlineList">线下课程</a>
              </div>
              <div class="item">
                <a href="/topteacherList">专家阵容</a>
              </div>
              <div class="item ">
                <a class="syht" href="#">企业服务</a>
                <i>
                  <img class="down-hide" src="/images/down.png">
                  <img class="down-show" src="/images/down_active.png">
                </i>
                <div class="down-content">
                  <ul class="list">
                    <li><a href="/customPage">企业内训</a></li>
                    <li><a href="/collegePage">企业商学院</a> </li>
                    <li><a href="/enterprisePage">企业大学</a></li>
                    <li><a href="/annualPage">企业年卡</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <a href="/advisoryList">资讯</a>
              </div>
              <div class="item">
                <a href="/booksList">书籍</a>
              </div>
            </div>
          </div>
        </div>
        <div class="head-r">
          <div class="search-icon">
            <div class="search-input"><input type="text" placeholder=""></div>
            <button type="submit"><img src="/images/icon_search.png"></button>
          </div>
          <div class="operation">
            <span class="it"><a class="syht" href="#">登录</a></span>
            <span class="it">I</span>
            <span class="it"><a class="syht" href="#">注册</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="curriculum-details">
    <div class="container">
      <ul class="crumbs-list">
        <li class="item"><a href="/">首页</a></li>
        <li class="item"><img src="/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">岗位课程</a></li>
        <li class="item"><img src="/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">课程名称</a></li>
      </ul>
      <div class="buyvideo-main">
        <div class="flex-l">
          <div class="video-box">
            <div class="pic"><img src="/images/insidepage/video1.png"></div>
            <div class="play-box">
              <div class="play-btn">
                <a href=""><img src="/images/insidepage/icon_play.png">试看</a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-r">
          <div class="title-box">
            <div class="head-l">融资租赁监管新规政策解读与剖析</div>
            <div class="head-r">
              <img src="/images/insidepage/phone.png">
              手机观看
              <div class="app-box">
                <div class="img">
                  <img src="/images/app_img.png">
                </div>
                <div class="app-text">下载融易学APP</div>
              </div>
            </div>
          </div>
          <div class="time-box">
            <div class="fill"><img src="/images/insidepage/icon_fill.png">12章节</div>
            <div class="time"><img src="/images/home/time.png">04月01日  20:30</div>
            <div class="check"><img src="/images/home/browse.png">999人</div>
          </div>
          <div class="price-box">
            <div class="cost">
              <span>原价：</span>
              <span class="scratch">¥266</span>
            </div>
            <div class="rate-box">
              <div class="left">
                <span>促销价：</span>
                <span class="orange">¥129.00</span>
              </div>
              <div class="right">有效期：购买后 90 天有效</div>
            </div>
          </div>
          <div class="purchase-box">
            <div class="wrap-l">
              <div class="purchase orange">
                <a href="">
                  立即购买
                  <!-- 加入学习
                  继续学习 -->
                </a>
              </div>
            </div>
            <div class="wrap-r">
              <div class="bag" id="collect-click">
                <input type="text" id="icon-collect" value="1" style="display: none;">
                <img class="save icon-hide" src="/images/insidepage/icon_collect.png" id="collect-img">
                <img class="save icon-show" src="/images/insidepage/icon_collect2.png">
                <div class="text">收藏</div>
              </div>
              <div class="bag">
                <div class="share-box">
                  <div class="share-list">
                    <div class="item">
                      <a href="javacript:void(0);">
                        <img class="icon-hide" src="/images/insidepage/icon_weixin.png">
                        <img class="icon-show" src="/images/insidepage/bright_weixin.png">
                      </a>
                      <div class="img">
                        <div class="pic"><img src="/images/ewm.png"></div>
                      </div>
                    </div>
                    <div class="item">
                      <a href="">
                        <img class="icon-hide" src="/images/insidepage/icon_qq.png">
                        <img class="icon-show" src="/images/insidepage/bright_qq.png">
                      </a>
                    </div>
                    <div class="item">
                      <a href="">
                        <img class="icon-hide" src="/images/insidepage/icon_weibo.png">
                        <img class="icon-show" src="/images/insidepage/bright_weibo.png">
                      </a>
                    </div>
                  </div>
                </div>
                <img class="icon-hide" src="/images/insidepage/icon_share.png">
                <img class="icon-show" src="/images/insidepage/icon_shares.png">
                <div class="text">分享</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="curriculum-middle">
        <div class="details">
          <div class="tabs-list" id="tabs-list">
            <div class="item active">课程简介</div>
            <div class="item">课程目录</div>
          </div>
          <div class="tab-box" id="tab-box">
            <div class="item active">
              <div class="public-wrap">
                <div class="head-wrap">
                  <img src="/images/insidepage/icon_intro.png"> 课程简介
                </div>
                <p>
                  这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介简介介这里是简介这里是这里是简介
                </p>
              </div>
              <div class="public-wrap">
                <div class="head-wrap">
                  <img src="/images/insidepage/icon_crowd.png"> 适用人群
                </div>
                <p>
                  这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介这里是简介简介介这里是简介这里是这里是简介
                </p>
              </div>
            </div>
            <div class="item">
              <div class="chapter-lists" id="chapter-lists">
                <div class="level-two active">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段1</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r active"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="level-two">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段2</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="level-two">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段3</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="level-two">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段4</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="level-two">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段5</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="level-two">
                  <div class="tit-stair">
                    <div class="flex-l">
                      <div class="stage">阶段6</div>
                      <div class="tit">商业保理发展概况及竞争力分析</div>
                      <div class="chapter-box">
                        <div class="item">
                          <img src="/images/insidepage/icon_book.png" >10课时
                        </div>
                        <div class="item">
                          <img src="/images/insidepage/icon_fill.png" >45章节
                        </div>
                      </div>
                    </div>
                    <div class="flex-r"><img src="/images/insidepage/catalog-down.png"></div>
                  </div>
                  <div class="level-list">
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="" class="wrap-box">
                         <div class="box-l">
                        <div class="img"><img src="/images/insidepage/stageimg1.png"></div>
                         </div>
                         <div class="box-r">
                        <div class="chapter-tit">课程标题课程标题课程标题课程标题课程标题课程</div>
                        <div class="chapter-people">
                          <div class="flex-l">
                            <img src="/images/insidepage/icon_fill.png" >12章节
                          </div>
                          <div class="flex-m"></div>
                          <div class="flex-r">
                            <img src="/images/insidepage/icon_crowd.png" >999人
                          </div>
                        </div>
                        <div class="chapter-desc">简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息简介信息</div>
                        <div class="price">
                          <span class="orange">¥ 129</span>
                          <span class="gray">原价：<span class="string">¥266</span></span>
                        </div>
                         </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="publish-wrap">
                <div class="header">
                  <div class="text">课程评分</div>
                  <div class="star-list" id="star-btn">
                    <div class="star-item" data-num="1">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                    </div>
                    <div class="star-item" data-num="2">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                    </div>
                    <div class="star-item" data-num="3">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                    </div>
                    <div class="star-item" data-num="4">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                    </div>
                    <div class="star-item" data-num="5">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                    </div>
                  </div>
                  <input type="text" value="" id="grade-num" style="display: none;">
                </div>
                <div class="content">
                  <div class="textarea">
                    <textarea placeholder="请输入内容"></textarea>
                  </div>
                  <div class="btn-comment">
                    <button type="submit" class="btn-remark">评论</button>
                  </div>
                </div>
              </div>
              <div class="comment-wrap">
                <div class="left">5.0</div>
                <div class="right">
                  <div class="star-list">
                    <div class="star-item active">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                      <img class="icon_show" src="/images/insidepage/star_actvie.png">
                    </div>
                    <div class="star-item active">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                      <img class="icon_show" src="/images/insidepage/star_actvie.png">
                    </div>
                    <div class="star-item active">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                      <img class="icon_show" src="/images/insidepage/star_actvie.png">
                    </div>
                    <div class="star-item active">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                      <img class="icon_show" src="/images/insidepage/star_actvie.png">
                    </div>
                    <div class="star-item">
                      <img class="icon_hide" src="/images/insidepage/star.png">
                      <img class="icon_show" src="/images/insidepage/star_actvie.png">
                    </div>
                  </div>
                  <div class="discuss-number">共36条评论</div>
                </div>
              </div>
              <div class="comment-list">
                <div class="conment-item">
                  <div class="head-img">
                    <img src="/images/insidepage/star1.png">
                  </div>
                  <div class="remark-box">
                    <div class="dt">
                      <div class="name">杨千婵</div>
                      <div class="star-list">
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                      </div>
                      <div class="state-box">审核中</div>
                    </div>
                    <div class="dm">
                      博弈大智慧，人生新高度！学完这门性价比很高的课程让我获益匪浅！因为我本身学的是经济学专业，这学期我们也开了博弈论的课程，但是我们的老师就没有咱们专栏的蒋老师讲的好。蒋老师不愧是浙江大学的！深入浅出，结合案例，我们听的十分明白。
                    </div>
                    <div class="dd">2020-01-07 23:38</div>
                  </div>
                </div>
                <div class="conment-item">
                  <div class="head-img">
                    <img src="/images/insidepage/star2.png">
                  </div>
                  <div class="remark-box">
                    <div class="dt">
                      <div class="name">王一桥</div>
                      <div class="star-list">
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                      </div>
                    </div>
                    <div class="dm">以前就听过老师的课程，学到了很多有趣的知识。</div>
                    <div class="dd">2020-01-07 23:38</div>
                  </div>
                </div>
                <div class="conment-item">
                  <div class="head-img">
                    <img src="/images/insidepage/star3.png">
                  </div>
                  <div class="remark-box">
                    <div class="dt">
                      <div class="name">马伯煜</div>
                      <div class="star-list">
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                      </div>
                    </div>
                    <div class="dm">
                      刚学完这个课程不久，之前也在慕课上学习过博弈论基础教学，对比之下，我们这个课程更易懂更易理解，我们这个课程采用实际案例来说明里面的博弈原理，能更好的展现博弈论的巧妙之处，相比空洞的理论，我更推荐我们这个课程作为博弈论的入门课。我很期待推出进阶教程。
                    </div>
                    <div class="dd">2020-01-07 23:38</div>
                  </div>
                </div>
                <div class="conment-item">
                  <div class="head-img">
                    <img src="/images/insidepage/star4.png">
                  </div>
                  <div class="remark-box">
                    <div class="dt">
                      <div class="name">介于石</div>
                      <div class="star-list">
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item active">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                        <div class="star-item">
                          <img class="icon_hide" src="/images/insidepage/star.png">
                          <img class="icon_show" src="/images/insidepage/star_actvie.png">
                        </div>
                      </div>
                    </div>
                    <div class="dm">感谢老师的授课！使我受益。</div>
                    <div class="dd">2020-01-07 23:38</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="counselor">
            <div class="tit">课程顾问</div>
            <div class="counselor-img">
              <div class="img">
                <img src="/images/postDetails_code.png">
              </div>
              <div class="text">扫一扫添加课程顾问</div>
            </div>
          </div>
          <div class="recommend">
            <div class="tit">推荐线下课</div>
            <div class="pic" style="margin-bottom: 24px;"><a href=""><img src="/images/insidepage/img1.png"></a></div>
            <div class="pic"><a href=""><img src="/images/insidepage/img2.png"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <div class="container">
        <div class="logo">
          <a href="#"> <img src="/images/logo.png" alt="logo"></a>
        </div>
        <div class="skip-middle">
          <div class="slide">
            <div class="title">关于我们</div>
            <ul class="link-ul">
              <li class="link"><a href="#">公司简介</a></a></li>
              <li class="link"><a href="#">联系我们</a></a></li>
              <li class="link"> <a href="#">免责声明</a></a></li>
              <li class="link"> <a href="#">APP下载</a></li>
            </ul>
          </div>
          <div class="slide">
            <div class="title">帮助中心</div>
            <ul class="link-ul">
              <li class="link"><a href="#">如何注册</a></a></li>
              <li class="link"><a href="#">如何选课</a></a></li>
              <li class="link"> <a href="#">如何选课</a></a></li>
              <li class="link"> <a href="#">如何选课</a></li>
            </ul>
          </div>
          <div class="slide">
            <div class="title">商务合作</div>
            <ul class="link-ul">
              <li class="link"><a href="#">公司简介</a></a></li>
              <li class="link"><a href="#">公司简介</a></a></li>
            </ul>
          </div>
        </div>
        <div class="contact">
          <div class="icon">
            <a href=""><img src="/images/people.png" alt="people"></a>
            <a href=""><img src="/images/wx.png" alt="wx"></a>
            <a href=""><img src="/images/code.png" alt="code"></a>
          </div>
          <div class="time">
            <img src="/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
          </div>
          <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
        </div>
      </div>

    </div>

    <div class="footer-info">
      <div class="organization">
        <div class="container">
          <div class="swiper-container" id="swiper-organization">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div class="report">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="report-item">
                Copyright©2015-2018********
              </div>
            </div>

            <div class="col-md-4">
              <div class="report-item">
                CP备：粤ICP备*********号
              </div>
            </div>

            <div class="col-md-4">
              <div class="report-item">
                CP备：粤ICP备*********号
              </div>
            </div>
          </div>

        </div>



      </div>


    </div>

  </div>
  <script src="/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <!-- privatjs -->
  <script type="text/javascript" src="/js/public.js"></script>
  <script type="text/javascript" src="/js/inMain.js"></script>
  <!--end-->
</body>


</html>