<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.crm.RyxMoneyItemMapper">    
    
    <sql id="select">
		id,
	    cust_id custId,
	    creater,
	    lcreate,
	    lmodified,
	    ideleted,
	    payee,
	    plan_id planId,
	    money ,
	    contract ,
	    pay_type payType,
	    descr
	</sql>

	<sql id="where">
	
	    <where>
			
			<if test="custId != null and custId != '' ">
				<![CDATA[ and cust_id  = #{custId} ]]>
			</if>
			
			
			<if test="contract != null and custId != '' ">
				<![CDATA[ and contract  = #{contract} ]]>
			</if>
			
			<if test="creater != null and creater != '' ">
				<![CDATA[ and creater = #{creater} ]]>
			</if>
			
			<if test="payee != null and payee != '' ">
				<![CDATA[ and payee = #{payee} ]]>
			</if>
			
			<if test="planId != null and planId != '' ">
				<![CDATA[ and plan_id = #{planId} ]]>
			</if>
			
			<if test="payType != null and payType != '' ">
				<![CDATA[ and pay_type = #{payType} ]]>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxMoneyItemDTO">   
    
       insert into ryx_money_item(       
		    cust_id,
		    creater,
		    status,
		    lcreate,
		    lmodified,
		    ideleted,
		    plan_id,
		    money,
		    payee,
		    contract,
		    pay_type,
		    descr    
       ) 
       values
       (
		    #{custId},
		    #{creater},
		    #{status},
		    UNIX_TIMESTAMP(now()),
		    UNIX_TIMESTAMP(now()),
		    #{ideleted},
		    #{planId},
		    #{money},
		    #{payee},
		    #{contract},
		    #{payType},
		    #{descr}
       )        
       <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() 
		</selectKey>
    </insert>
      
    
    
    <select id="queryUserId" resultType="java.lang.Long" parameterType="RyxMoneyItemQuery">
         
        select id from ryx_money_item         
        <include refid="where"/>		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    
    <select id="query" resultType="RyxMoneyItemDTO" parameterType="RyxMoneyItemQuery">
         
        select
         
        <include refid="select"/>
        
        from ryx_money_item 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxMoneyItemQuery">   
        select count(1) from ryx_money_item 
        <include refid="where"/>  limit 1 ;
    </select>
    
    
    <select id="getById" resultType="RyxMoneyItemDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_money_item where id = #{id}  limit 1;
    </select>    
    
    
     
    
    
    <update id="update" parameterType="RyxMoneyItemDTO">
    
        update ryx_money_item
         
        <set>	
					
			<if test="custId != null">
				<![CDATA[ cust_id = #{custId} ]]>,
			</if>		
			
			<if test="creater != null">
				<![CDATA[ creater = #{creater} ]]>,
			</if>		
			
			<if test="payee != null">
				<![CDATA[ payee = #{payee} ]]>,
			</if>
			
			<if test="payType != null">
				<![CDATA[ pay_type = #{payType} ]]>,
			</if>
			
			<if test="money != null">
				<![CDATA[ money = #{money} ]]>,
			</if>
			
			<if test="payType != null">
				<![CDATA[ pay_type = #{payType} ]]>,
			</if>
			
			<if test="contract != null">
				<![CDATA[ contract = #{contract} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			lmodified = UNIX_TIMESTAMP(now()) 
			
		 </set>
		 
		 where	id = #{id}
		 	
    </update> 
    
   
    <delete id="delete" parameterType="java.lang.String">    
        update ryx_money_item set ideleted = 1 where id = #{id}		 	
    </delete> 
    
    
</mapper> 