<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.crm.RyxPresaleHistMapper">    
    
    <sql id="select">		
		id,
	    sale_id saleId,
	    contract,
	    creater,
	    lcreate,
	    lmodified,
	    descr
	</sql>

	<sql id="where">
	
	    <where>	
			
			<if test="creater != null and creater != '' ">
				<![CDATA[ and creater = #{creater} ]]>
			</if>
			
			<if test="saleId != null and saleId != '' ">
				<![CDATA[ and sale_id = #{saleId} ]]>
			</if>
			
			
			<if test="contract != null and contract != '' ">
				<![CDATA[ and contract = #{contract} ]]>
			</if>
			
			
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxPresaleHistDTO">   
    
       insert into ryx_pre_sale_hist(
       
		    sale_id,
		    contract,
		    creater,
		    lcreate,
		    lmodified,
		    descr  
    
       ) 
       values
       (
       		#{saleId},
       		#{contract},
		    #{creater},
		     UNIX_TIMESTAMP(now()) ,
		     UNIX_TIMESTAMP(now()) ,
		    #{descr}
       )        
       <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() 
		</selectKey>
    </insert>
      
    
    
    <select id="queryUserId" resultType="java.lang.Long" parameterType="RyxPresaleHistQuery">
         
        select id from ryx_pre_sale_hist         
        <include refid="where"/>		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    
    <select id="query" resultType="RyxPresaleHistDTO" parameterType="RyxPresaleHistQuery">
         
        select
         
        <include refid="select"/>
        
        from ryx_pre_sale_hist 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
	
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxPresaleHistQuery">   
        select count(1) from ryx_pre_sale_hist 
        <include refid="where"/>  limit 1 ;
    </select>
    
    
    
    <select id="getById" resultType="RyxPresaleHistDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_pre_sale_hist where id = #{id}  limit 1;
    </select>    
    
    
     
    
    
    <update id="update" parameterType="RyxPresaleHistDTO">
    
        update ryx_pre_sale_hist
         
        <set>	
					
			<if test="contact != null">
				<![CDATA[ contact = #{contact} ]]>,
			</if>		
			<if test="cmobile != null">
				<![CDATA[ cmobile = #{cmobile} ]]>,
			</if>		
			<if test="bizType != null">
				<![CDATA[ biz_type = #{bizType} ]]>,
			</if>
			<if test="project != null">
				<![CDATA[ project = #{project} ]]>,
			</if>		
			<if test="oname != null">
				<![CDATA[ oname = #{oname} ]]>,
			</if>
			<if test="source != null">
				<![CDATA[ source = #{source} ]]>,
			</if>
			<if test="cdept != null">
				<![CDATA[ cdept = #{cdept} ]]>,
			</if>
			<if test="cposition != null">
				<![CDATA[ cposition = #{cposition} ]]>,
			</if>
			<if test="dept != null">
				<![CDATA[ dept = #{dept} ]]>,
			</if>
			<if test="manager != null">
				<![CDATA[ manager = #{manager} ]]>,
			</if>
			
			<if test="ideleted != null">
				<![CDATA[ ideleted = #{ideleted} ]]>,
			</if>
			
			
			<if test="status != null">
				<![CDATA[ status = #{status} ]]>,
			</if>
			
			<if test="district1 != null">
				<![CDATA[ district1 = #{district1} ]]>,
			</if>
			
			<if test="district2 != null">
				<![CDATA[ district2 = #{district2} ]]>,
			</if>
			
			<if test="district3 != null">
				<![CDATA[ district3 = #{district3} ]]>,
			</if>
			
			<if test="email != null">
				<![CDATA[ email = #{email} ]]>,
			</if>
			
			<if test="weixin != null">
				<![CDATA[ weixin = #{weixin} ]]>,
			</if>
			
			<if test="qq != null">
				<![CDATA[ qq = #{qq} ]]>,
			</if>
			
			<if test="addr != null">
				<![CDATA[ addr = #{addr} ]]>,
			</if>
			
			<if test="postcode != null">
				<![CDATA[ postcode = #{postcode} ]]>,
			</if>
			
			<if test="creater != null">
				<![CDATA[ creater = #{creater} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			lmodified = UNIX_TIMESTAMP(now())
			
		 </set>
		 
		 where	id = #{id}
		 	
    </update> 
   
    <delete id="delete" parameterType="java.lang.String">    
        update ryx_pre_sale_hist set ideleted = 1 where id = #{id}		 	
    </delete> 
    
</mapper> 