<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=1920 initial-scale=1.0">

  <!-- First use the latest version of IE and Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>融易学</title>
  <!-- Keyword -->
  <!-- <meta name="keywords" content=""> -->
  <!-- describe -->
  <meta name="description" content="">

  <!-- 360 use Google Chrome Frame -->
  <meta name="renderer" content="webkit">
  <!-- Baidu prohibition of transcoding -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- Definition of web search engine index -->
  <meta name="robots" content="index,follow">
  <!-- ios -->
  <!-- The title that is added to the main screen -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- Whether WebApp full screen mode is enabled -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Setting the background color of the State Bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Android theme-color  Used to control the color of the tabs -->
  <meta name="theme-color" content="#747474">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Turn off the translation plug-in under the Chrome browser -->
  <meta name="google" value="notranslate" />
  <!-- uc Forced vertical screen -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ Forced vertical screen -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC Mandatory full screen -->
  <meta name="full-screen" content="yes">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/public.css" rel="stylesheet">
  <link href="../static/css/app.css" rel="stylesheet">
  <link href="../static/css/inStyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../static/css/font-other.css" />
</head>

<body class="resetStyle">
  <div class="insside-header clear" style="z-index: 2;position: fixed;width: 100%;">
    <div class="container">
      <div class="head-middle">
        <div class="head-l">
          <div class="logo"><a href="/"><img src="../static/images/download/head_logo.png"></a></div>
          <div class="nav-main">
            <div class="nav-list">
              <div class="item">
                <a class="syht" href="#">首页</a>
              </div>
              <div class="item active">
                <a href="/curriculumList.html">全部课程</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <div class="main">
                    <div class="left">
                      <ul class="max-navlist">
                        <li class="active"><a class="pf" href="javacript:void(0);">融资租赁</a></li>
                        <li><a class="pf" href="javacript:void(0);">汽车金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">供应链金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">证券基金</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融科技</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融小动画</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融基础</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="menus-list" id="menus-list">
                        <div class="item active">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">中小微租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">厂商租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">医疗大健康租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">高端制造租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">政府平台租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <a href="/offlineList.html">线下课程</a>
              </div>
              <div class="item">
                <a href="/topteacherList.html">专家阵容</a>
              </div>
              <div class="item ">
                <a class="syht" href="#">企业服务</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <ul class="list">
                    <li><a href="/customPage.html">企业内训</a></li>
                    <li><a href="/collegePage.html">企业商学院</a> </li>
                    <li><a href="/enterprisePage.html">企业大学</a></li>
                    <li><a href="/annualPage.html">企业年卡</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <a href="/advisoryList.html">资讯</a>
              </div>
              <div class="item">
                <a href="/booksList.html">书籍</a>
              </div>
            </div>
          </div>
        </div>
        <div class="head-r">
          <div class="search-icon">
            <div class="search-input"><input type="text" placeholder=""></div>
            <button type="submit"><img src="../static/images/icon_search.png"></button>
          </div>
          <div class="operation">
            <span class="it"><a class="syht" href="#">登录</a></span>
            <span class="it">I</span>
            <span class="it"><a class="syht" href="#">注册</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container" id="bodySwiper">
    <div class="swiper-wrapper">
      <div class="my-slide app-pages">
        <div class="app-banner">
          <div class="container">
            <div class="wrap-banner">
              <div class="app-l"><img src="../static/images/download/download_banner.png"></div>
              <div class="app-r">
                <div class="img"><img src="../static/images/download/banner_logo.png"></div>
                <div class="tit-app">融易学APP</div>
                <div class="tit-desc">口袋版的金融只是学习神器</div>
                <div class="desc-text">OMO联动金融行业人才的移动解决方案</div>
                <div class="download-wrap">
                  <div class="left">
                    <div class="bag">
                      <a href="">
                        <img src="../static/images/az.png"><span>APP STORE</span>
                      </a>
                    </div>
                    <div class="bag">
                      <a href=""><img src="../static/images/pg.png"><span>ANDROID</span></a>
                    </div>
                  </div>
                  <div class="right"><img src="../static/images/ewm.png"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-slide app-pages">
        <div class="picture-wrap">
          <div class="container">
            <div class="common-wrap">
              <div class="silder-l">
                <div class="title">实战派</div>
                <div class="title-desc">海量金融名师，一站式搜课</div>
              </div>
              <div class="silder-r"><img src="../static/images/download/p1.png"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-slide app-pages">
        <div class="scene-wrap">
          <div class="container">
            <div class="common-wrap">
              <div class="silder-l">
                <!-- <img src="./images/download/p2.png"> -->
                <img class="d1-1" src="../static/images/download/d1_1.png" />
                <img class="d1" src="../static/images/download/d1.png" />
                <img class="d1-2" src="../static/images/download/d1_2.png" />
              </div>
              <div class="silder-r">
                <div class="title">场景化学习</div>
                <div class="title-desc">多变的学习姿态打败一成不变的时间</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-slide app-pages">
        <div class="study-wrap">
          <div class="container">
            <div class="common-wrap">
              <div class="silder-l">
                <div class="title">翻转枯燥乏味的学习理念</div>
                <div class="title-desc">国内原创动画，SOL体系课程</div>
              </div>
              <div class="silder-r">
                <!-- <img src="./images/download/p3.png"> -->
                <img class="d2-1" src="../static/images/download/d2_1.png" />
                <img class="d2" src="../static/images/download/d2.png" />
                <img class="d2-2" src="../static/images/download/d2_2.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-slide app-pages">
        <div class="sponsor-wrap">
          <div class="container">
            <div class="financial-wrap">
              <div class="tit">万千金融名企的培训标配</div>
              <div class="tit-desc">央企、国企、上市公司、成长型公司</div>
            </div>
            <div class="sponsor-list">
              <div class="item"><img src="../static/images/home/sponsor/p1.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p2.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p3.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p4.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p36.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p5.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p6.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p7.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p8.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p9.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p10.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p11.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p12.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p13.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p14.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p15.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p16.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p17.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p18.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p19.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p20.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p21.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p22.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p23.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p24.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p25.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p26.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p27.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p28.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p29.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p30.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p31.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p32.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p33.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p34.png" alt=""></div>
              <div class="item"><img src="../static/images/home/sponsor/p35.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-slide">
        <div class="footer">
          <div class="footer-links">
            <div class="container">
              <div class="logo">
                <a href="#"> <img src="../static/images/logo.png" alt="logo"></a>
              </div>
              <div class="skip-middle">
                <div class="slide">
                  <div class="title Helvbold">关于我们</div>
                  <ul class="link-ul">
                    <li class="link"><a class="Helvbold" href="info_aboutus.html">融易学简介</a></a></li>
                    <li class="link"><a class="Helvbold" href="info_contactus.html">联系我们</a></a></li>
                    <li class="link"><a class="Helvbold" href="info_statement.html">免责声明</a></a></li>
                  </ul>
                </div>
                <div class="slide">
                  <div class="title Helvbold">帮助中心</div>
                  <ul class="link-ul">
                    <li class="link"><a class="Helvbold" href="info_register.html">如何注册</a></a></li>
                    <li class="link"><a class="Helvbold" href="info_choosecourse.html">如何选课</a></a></li>
                    <li class="link"><a class="Helvbold" href="info_opencourse.html">如何开课</a></li>
                    <li class="link"><a class="Helvbold" href="info_avai.html">课程有效期</a></li>
                  </ul>
                </div>
                <div class="slide">
                  <div class="title Helvbold">商务合作</div>
                  <ul class="link-ul">
                    <li class="link"><a class="Helvbold" href="info_cooperation.html">合作方式</a></a></li>
                  </ul>
                </div>
              </div>
              <div class="contact">
                <div class="icon">
                  <a href="">
                    <img class="icon-hidden" src="../static/images/people.png">
                    <img class="icon-show" src="../static/images/people_active.png">
                  </a>
                  <a href="javacript:void(0);">
                    <img class="icon-hidden" src="../static/images/wx.png">
                    <img class="icon-show" src="../static/images/wx_active.png">
                    <div class="serve-code">
                      <div class="pic">
                        <img src="../static/images/app_img.png">
                      </div>
                      <div class="text">关注融易学服务号</div>
                    </div>
                  </a>
                  <a href="javacript:void(0);">
                    <img class="icon-hidden" src="../static/images/code.png">
                    <img class="icon-show" src="../static/images/code_active.png">
                    <div class="app-code">
                      <div class="pic">
                        <img src="../static/images/ewm.png">
                      </div>
                      <div class="text">扫码下载APP</div>
                    </div>
                  </a>
                </div>
                <div class="time">
                  <img src="../static/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
                </div>
                <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
              </div>
            </div>
      
          </div>
      
          <div class="footer-info">
            <div class="organization">
              <div class="container">
                <div class="swiper-container" id="swiper-organization">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                    <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
            <div class="report">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="report-item">
                      Copyright©2015-2018********
                    </div>
                  </div>
      
                  <div class="col-md-4">
                    <div class="report-item">
                      CP备：粤ICP备*********号
                    </div>
                  </div>
      
                  <div class="col-md-4">
                    <div class="report-item">
                      CP备：粤ICP备*********号
                    </div>
                  </div>
                </div>
      
              </div>
      
      
      
            </div>
      
      
          </div>
      
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/swiper.min.js"></script>
  <!-- privatjs -->
  <script type="text/javascript" src="../static/js/public.js"></script>
  <script type="text/javascript" src="../static/js/inMain.js"></script>
  <!--end-->
</body>


</html>