<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1920 initial-scale=1.0">
  <!-- First use the latest version of IE and Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>融易学</title>
  <!-- Keyword -->
  <!-- <meta name="keywords" content=""> -->
  <!-- describe -->
  <meta name="description" content="">
  <!-- 360 use Google Chrome Frame -->
  <meta name="renderer" content="webkit">
  <!-- Baidu prohibition of transcodin g -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- Definition of web search engine index -->
  <meta name="robots" content="index,follow">
  <!-- ios -->
  <!-- The title that is added to the main screen -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- Whether WebApp full screen mode is enabled -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Setting the background color of the State Bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Android theme-color  Used to control the color of the tabs -->
  <meta name="theme-color" content="#747474">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Turn off the translation plug-in under the Chrome browser -->
  <meta name="google" value="notranslate" />
  <!-- uc Forced vertical screen -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ Forced vertical screen -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC Mandatory full screen -->
  <meta name="full-screen" content="yes">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/public.css" rel="stylesheet">
  <link href="../static/css/inStyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../static/css/font-other.css" />
</head>

<body class="resetStyle">
  <div class="insside-header">
    <div class="container">
      <div class="head-middle">
        <div class="head-l">
          <div class="logo"><a href="/"><img src="../static/images/logo2.png"></a></div>
          <div class="nav-main">
            <div class="nav-list">
              <div class="item">
                <a class="syht" href="#">首页</a>
              </div>
              <div class="item active">
                <a href="/curriculumList.html">全部课程</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <div class="main">
                    <div class="left">
                      <ul class="max-navlist">
                        <li class="active"><a class="pf" href="javacript:void(0);">融资租赁</a></li>
                        <li><a class="pf" href="javacript:void(0);">汽车金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">供应链金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">证券基金</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融科技</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融小动画</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融基础</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="menus-list" id="menus-list">
                        <div class="item active">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">中小微租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">厂商租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">医疗大健康租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">高端制造租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">政府平台租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <a href="/offlineList.html">线下课程</a>
              </div>
              <div class="item">
                <a href="/topteacherList.html">专家阵容</a>
              </div>
              <div class="item ">
                <a class="syht" href="#">企业服务</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <ul class="list">
                    <li><a href="/customPage.html">企业内训</a></li>
                    <li><a href="/collegePage.html">企业商学院</a> </li>
                    <li><a href="/enterprisePage.html">企业大学</a></li>
                    <li><a href="/annualPage.html">企业年卡</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <a href="/advisoryList.html">资讯</a>
              </div>
              <div class="item">
                <a href="/booksList.html">书籍</a>
              </div>
            </div>
          </div>
        </div>
        <div class="head-r">
          <div class="search-icon">
            <div class="search-input"><input type="text" placeholder=""></div>
            <button type="submit"><img src="../static/images/icon_search.png"></button>
          </div>
          <div class="operation">
            <span class="it"><a class="syht" href="#">登录</a></span>
            <span class="it">I</span>
            <span class="it"><a class="syht" href="#">注册</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mycourses-main">
    <div class="container">
      <ul class="crumbs-list">
        <li class="item"><a href="/">首页</a></li>
        <li class="item"><img src="../static/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">个人中心</a></li>
        <li class="item"><img src="../static/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">个人设置</a></li>
      </ul>
      <div class="mycourses-wrap">
        <div class="flex-l">
          <div class="user-info">
            <div class="img">
              <img src="../static/images/insidepage/user_img.png">
            </div>
            <div class="text">马伯煜</div>
          </div>
          <div class="mycourses-list">
            <div class="item"><a href="/myCourses.html">我的课程</a></div>
            <div class="item"><a href="/myOrder.html">订单中心</a></div>
            <div class="item"><a href="/myMoney.html">账务中心</a></div>
            <div class="item active"><a href="/myBasicinfo.html">个人设置</a></div>
            <div class="item"><a href="/myConcern.html">我的关注</a></div>
            <div class="item"><a href="/myAttestation.html">认证中心</a></div>
            <div class="item"><a href="/myEnterprise.html">企业中心</a></div>
            <div class="item"><a href="/myLecturer.html">讲师中心</a></div>
          </div>
        </div>
        <div class="flex-r">
          <div class="myBasicinfo-wrap">
            <div class="tabs-list" id="myBasicinfo-list">
              <div class="item active">基础信息</div>
              <div class="item">账户安全</div>
            </div>
            <div class="myBasicinfo-list">
              <div class="wrap-item active">
                <div class="info-main">
                  <div class="silde-l">
                    <div class="img-box">
                      <div class="pic"><img src="../static/images/user/face_img.png"></div>
                      <div class="face-text">修改头像</div>
                      <input type="file">
                    </div>
                    <div class="face-btn">
                      <button type="submit">修改<input type="file"></button>
                    </div>
                  </div>
                  <div class="silde-r">
                    <div class="input-box">
                      <div class="lable-l">用户名：</div>
                      <div class="lable-r"><input type="text" placeholder="请输入"></div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">性别：</div>
                      <div class="lable-r sex ind">
                        <div class="industry sex-set" id="sex-btn">
                          <input type="text" placeholder="请输入" readonly>
                          <img src="../static/images/user/icon_down.png">
                        </div>
                        <select>
                          <option selected  value="男">
                          <option value="女">
                        </select>
                        <div class="lable-item" id="onSex-btn">
                          <div class="list-box" data-val="男" >男</div>
                          <div class="list-box" data-val="女">女</div>
                        </div>
                      </div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">邮箱：</div>
                      <div class="lable-r"><input type="text" placeholder="请输入"></div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">生日：</div>
                      <div class="lable-r">
                        <div class="day-box">
                          <input type="text" id="dadyInput" class="date" placeholder="选择时间">
                          <img src="../static/images/user/icon_day.png">
                        </div>
                      </div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">行业：</div>
                      <div class="lable-r ind ind2">
                        <div class="industry" id="industry-btn">
                          <input type="text" placeholder="请输入" readonly>
                          <img src="../static/images/user/icon_down.png">
                        </div>
                        <select>
                          <option selected value="员工">
                          <option value="经理">
                        </select>
                        <div class="lable-item" id="onlistClick">
                          <div class="list-box" data-val="员工">员工</div>
                          <div class="list-box" data-val="经理">经理</div>
                        </div>
                      </div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">公司：</div>
                      <div class="lable-r"><input type="text" placeholder="请输入"></div>
                    </div>
                    <div class="input-box">
                      <div class="lable-l">职位：</div>
                      <div class="lable-r"><input type="text" placeholder="请输入"></div>
                    </div>
                    <div class="save-btn"><button type="submit">保存</button></div>
                  </div>
                </div>

              </div>
              <div class="wrap-item">
                <div class="safety-list">
                  <div class="item">
                    <div class="flex-l"><img src="../static/images/user/safety1.png">手机</div>
                    <div class="flex-m">未绑定</div>
                    <div class="flex-r">
                      <a href="" class="bind-btn blue">绑定</a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="flex-l"><img src="../static/images/user/safety2.png">微信</div>
                    <div class="flex-m">已绑定</div>
                    <div class="flex-r">
                      <a href="" class="bind-btn">解绑</a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="flex-l"><img src="../static/images/user/safety3.png">登录密码</div>
                    <div class="flex-m">已设置</div>
                    <div class="flex-r">
                      <a href="" class="bind-btn">修 改</a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="flex-l"><img src="../static/images/user/safety4.png">支付密码</div>
                    <div class="flex-m">未设置</div>
                    <div class="flex-r">
                      <a href="" class="bind-btn blue">设 置</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="footer">
      <div class="footer-links">
        <div class="container">
          <div class="logo">
            <a href="#"> <img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div class="skip-middle">
            <div class="slide">
              <div class="title Helvbold">关于我们</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_aboutus.html">融易学简介</a></a></li>
                <li class="link"><a class="Helvbold" href="info_contactus.html">联系我们</a></a></li>
                <li class="link"><a class="Helvbold" href="info_statement.html">免责声明</a></a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">帮助中心</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_register.html">如何注册</a></a></li>
                <li class="link"><a class="Helvbold" href="info_choosecourse.html">如何选课</a></a></li>
                <li class="link"><a class="Helvbold" href="info_opencourse.html">如何开课</a></li>
                <li class="link"><a class="Helvbold" href="info_avai.html">课程有效期</a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">商务合作</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_cooperation.html">合作方式</a></a></li>
              </ul>
            </div>
          </div>
          <div class="contact">
            <div class="icon">
              <a href="">
                <img class="icon-hidden" src="../static/images/people.png">
                <img class="icon-show" src="../static/images/people_active.png">
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="../static/images/wx.png">
                <img class="icon-show" src="../static/images/wx_active.png">
                <div class="serve-code">
                  <div class="pic">
                    <img src="../static/images/app_img.png">
                  </div>
                  <div class="text">关注融易学服务号</div>
                </div>
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="../static/images/code.png">
                <img class="icon-show" src="../static/images/code_active.png">
                <div class="app-code">
                  <div class="pic">
                    <img src="../static/images/ewm.png">
                  </div>
                  <div class="text">扫码下载APP</div>
                </div>
              </a>
            </div>
            <div class="time">
              <img src="../static/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
            </div>
            <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
          </div>
        </div>

      </div>

      <div class="footer-info">
        <div class="organization">
          <div class="container">
            <div class="swiper-container" id="swiper-organization">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="report">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="report-item">
                  Copyright©2015-2018********
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>
            </div>

          </div>



        </div>


      </div>

    </div>
  <script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../static/js/laydate.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/swiper.min.js"></script>
  <!-- privatjs -->
  <script type="text/javascript" src="../static/js/public.js"></script>
  <script type="text/javascript" src="../static/js/inMain.js"></script>
  <!--end-->
</body>


</html>