<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ContactMapper"> 



	<sql id="select">
	
	    id,
	    name,
	    email,
	    mobile,
	    phone,	    
	    user_id userId,
	    idefault,
	    descr
    
	</sql>
	 

	<sql id="where">	
	    <where>			
			<if test="userId != null">
				<![CDATA[  and user_id = #{userId} ]]>
			</if>
			
			<if test="ideleted != null">
				<![CDATA[  and ideleted = #{ideleted} ]]>
			</if>
			
			<if test="idefault != null">
				<![CDATA[  and idefault = #{idefault} ]]>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="ContactDTO">   
       insert into contact(user_id,name,mobile,phone,email,descr,ideleted,idefault) 
       values
       (#{userId},#{name},#{mobile},#{phone},#{email},#{descr},#{ideleted},#{idefault})
    </insert>
      
    
    <select id="query" resultType="ContactDTO" parameterType="ContactQuery">
         
        select 
        <include refid="select"/>        
        from contact 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="ContactDTO">
         
        select code,name from contact where ideleted = 0 order by name 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="ContactQuery">   
        select count(1) from contact 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="ContactDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from contact where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="ContactDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from contact where uid = #{uid}  limit 1; 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select passd from contact where uid = #{uid}  limit 1; 
    </select>    
     
    
    <select id="queryByIdMember" resultType="ContactDTO" parameterType="ContactQuery">   
        select 
        <include refid="select"/>
        from contact where id = #{id} and oid =#{oid} limit 1;
    </select>
    
    
    <select id="queryByCode" resultType="ContactDTO" parameterType="java.lang.String">   
        select
        <include refid="select"/>
        from contact where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="ContactDTO">
    
        update contact
         
        <set>	
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="mobile != null">
				<![CDATA[ mobile = #{mobile} ]]>,
			</if>
			
			<if test="phone != null">
				<![CDATA[ phone = #{phone} ]]>,
			</if>
			
			<if test="email != null">
				<![CDATA[ email = #{email} ]]>,
			</if>
			
			<if test="ideleted != null">
				<![CDATA[ ideleted = #{ideleted} ]]>,
			</if>
			<if test="idefault != null">
				<![CDATA[ idefault = #{idefault} ]]>,
			</if>
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
						
		 </set>
		 
		 where	id = #{id}
		 <if test="userId != null">
			<![CDATA[ and user_id = #{userId} ]]>
		</if>
		 	
    </update> 
    
    
    <delete id="delete" parameterType="ContactDTO">
    
        delete from contact where id = #{id}        
		<if test="userId != null">
			<![CDATA[ and user_id = #{userId} ]]>
		</if>
		 	
    </delete> 
    
</mapper> 