<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ProductAttrMapper">  

	<sql id="where">
	
	    <where>
	    
			<if test="code != null">
				<![CDATA[ and code = #{code} ]]>
			</if>
			
			<if test="email != null">
				<![CDATA[ and email = #{email} ]]>
			</if>
	
			
			<choose>
				<when test="ideleted != null">
					<![CDATA[  and ideleted = #{ideleted} ]]>
				</when>
				<otherwise>
					<![CDATA[  and ideleted = 0 ]]>
				</otherwise>
			</choose>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="ProductAttrDTO">   
       insert into product_attr(uid,code,name,parent,creater,tcreate,tmodified,ideleted) 
       values
       (#{uid},#{code},#{name},#{parent},#{creater},now(),now(),#{ideleted}) 
    </insert>
      
    
    <select id="queryAll" resultType="ProductAttrDTO" parameterType="ProductAttrQuery">
         
        select code,name from product_attr where ideleted = 0 order by code  ;
		
    </select>
    
    
    <select id="query" resultType="ProductAttrDTO" parameterType="ProductAttrQuery">
         
        select * from product_attr 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="ProductAttrQuery">   
        select count(1) from product_attr 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="ProductAttrDTO" parameterType="java.lang.Long">   
        select * from product_attr where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="ProductAttrDTO" parameterType="java.lang.String">   
        select * from product_attr where uid = #{uid}  limit 1; 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select passd from product_attr where uid = #{uid}  limit 1; 
    </select>    
    
    <select id="queryByCode" resultType="ProductAttrDTO" parameterType="java.lang.String">   
        select * from product_attr where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="ProductAttrDTO">
    
        update product_attr
         
        <set>	
        	<if test="code != null">
				<![CDATA[ code = #{code} ]]>,
			</if>			
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="parent != null">
				<![CDATA[ parent = #{parent} ]]>,
			</if>
			
			<![CDATA[ creater = #{creater} ]]>,
			
			<![CDATA[ tmodified = now() ]]>,
			
		 </set>
		 
		 where	uid = #{uid}
		 	
    </update> 
    
    <update id="changePassd" parameterType="ProductAttrDTO">
    	 update product_attr set passd = #{passd} where uid = #{uid}
    </update>
    
    <delete id="delete" parameterType="java.lang.String">
    
        update product_attr
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
    
    
</mapper> 