<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.RelatedTagMapper">  

	<sql id="where">
	    <where>
	    	<if test="uid != null">
				<![CDATA[ uid = #{uid}  ]]>
			</if>
			
			<if test="name != null">
				<![CDATA[ and name like concat('%', #{name}, '%')  ]]>
			</if>
		</where>
	</sql>
   
    <insert id="create" parameterType="RelatedTagDTO">   
       insert into related_tag(uid,name,creater,tcreate,tmodified,ideleted) 
       values
       (#{uid},#{name},#{creater},now(),now(),#{ideleted}) 
    </insert>   
      
    
    <select id="query" resultType="RelatedTagDTO" parameterType="RelatedTagQuery">
         
        select * from related_tag 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RelatedTagQuery">   
        select count(1) from related_tag 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="RelatedTagDTO" parameterType="java.lang.Long">   
        select * from related_tag where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="RelatedTagDTO" parameterType="java.lang.String">   
        select * from related_tag where uid = #{uid}  limit 1; 
    </select>  
    
    
    <update id="update" parameterType="RelatedTagDTO">
    
         update related_tag
         
         <set>	
         		
			<if test="tag != null">
				<![CDATA[ tag = #{tag} ]]>,
			</if>
			
			<if test="tag1 != null">
				<![CDATA[ tag1 = #{tag1} ]]>,
			</if>
			
		 </set>
		 
		 where	uid = #{uid}
		 	
    </update> 
    
    
    
    
</mapper> 