<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ResumeMapper"> 



	<sql id="select">	
		id,
	    user_id userId,
	    industry0,
	    industry1,
	    industry2,
	    salary,
	    wstatus,
	    wyears,
	    academic,
	    specialty0,
	    specialty1,
	    specialty2,
	    descr,
	    image,
	    name,
	    gender,	    
	    address,	
	    contact,   
	    create_time createTime,
	    update_time updateTime,
	    uid
    
	</sql>
	 

	<sql id="where">	
	    <where>		
	    	
			<if test="userId != null">
				<![CDATA[  and user_id = #{userId} ]]>
			</if>
			
			<if test="wyears != null">
				<![CDATA[  and wyears = #{wyears} ]]>
			</if>
			
			<if test="academic != null">
				<![CDATA[  and academic = #{academic} ]]>
			</if>			
			
			<if test="wstatus != null">
				<![CDATA[  and wstatus = #{wstatus} ]]>
			</if>
			
			<if test="salary != null">
				<![CDATA[  and salary = #{salary} ]]>
			</if>
						
			<if test="industry0 != null">
				<![CDATA[  and industry0 = #{industry0} ]]>
			</if>
			
			<if test="industry1 != null">
				<![CDATA[  and industry1 = #{industry1} ]]>
			</if>
			
			<if test="industry2 != null">
				<![CDATA[  and industry2 = #{industry2} ]]>
			</if>
			
			<if test="specialty0 != null">
				<![CDATA[  and specialty0 = #{specialty0} ]]>
			</if>
			
			<if test="specialty1 != null">
				<![CDATA[  and specialty1 = #{specialty1} ]]>
			</if>
			
			<if test="specialty2 != null">
				<![CDATA[  and specialty2 = #{specialty2} ]]>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="ResumeDTO">   
       insert into resume(user_id,name,wyears,wstatus,salary,specialty0,specialty1,
       specialty2,descr,industry0,industry1,industry2,address,contact,academic,create_time,update_time,uid,gender,image) 
       values
       (#{userId},#{name},#{wyears},#{wstatus},#{salary},#{specialty0},#{specialty1},#{specialty2},#{descr},
       #{industry0},#{industry1},#{industry2},#{address},#{contact},#{academic},UNIX_TIMESTAMP(now()),UNIX_TIMESTAMP(now()),#{uid},#{gender},#{image}
       ) 
    </insert>
      
    
    <select id="query" resultType="ResumeDTO" parameterType="ResumeQuery">
         
        select 
        <include refid="select"/>        
        from resume 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="ResumeDTO">
         
        select code,name from resume where ideleted = 0 order by name 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="ResumeQuery">   
        select count(1) from resume 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="ResumeDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from resume where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="ResumeDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from resume where uid = #{uid}  limit 1; 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select passd from resume where uid = #{uid}  limit 1; 
    </select>    
     
    
    <select id="queryByIdMember" resultType="ResumeDTO" parameterType="ResumeQuery">   
        select 
        <include refid="select"/>
        from resume where id = #{id} and oid =#{oid} limit 1;
    </select>
    
    <select id="queryByUserId" resultType="ResumeDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from resume where user_id = #{userId} limit 1;
    </select>
    
    
    <select id="queryByCode" resultType="ResumeDTO" parameterType="java.lang.String">   
        select
        <include refid="select"/>
        from resume where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="ResumeDTO">
    
        update resume
         
        <set>	
					
			<if test="gender != null">
				<![CDATA[ gender = #{gender} ]]>,
			</if>
			
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="industry0 != null">
				<![CDATA[ industry0 = #{industry0} ]]>,
			</if>
			
			<if test="industry1 != null">
				<![CDATA[ industry1 = #{industry1} ]]>,
			</if>
			
			<if test="industry2 != null">
				<![CDATA[ industry2 = #{industry2} ]]>,
			</if>
			
			<if test="specialty0 != null">
				<![CDATA[ specialty0 = #{specialty0} ]]>,
			</if>
			
			<if test="specialty1 != null">
				<![CDATA[ specialty1 = #{specialty1} ]]>,
			</if>
			
			<if test="specialty2 != null">
				<![CDATA[ specialty2 = #{specialty2} ]]>,
			</if>			
			
			<if test="salary != null">
				<![CDATA[ salary = #{salary} ]]>,
			</if>
			<if test="wstatus != null">
				<![CDATA[ wstatus = #{wstatus} ]]>,
			</if>
			<if test="specialty0 != null">
				<![CDATA[ specialty0 = #{specialty0} ]]>,
			</if>
			<if test="image != null">
				<![CDATA[ image = #{image} ]]>,
			</if>			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			<if test="wyears != null">
				<![CDATA[ wyears = #{wyears} ]]>,
			</if>
			
			<if test="academic != null">
				<![CDATA[ academic = #{academic} ]]>,
			</if>
			
			<if test="address != null">
				<![CDATA[ address = #{address} ]]>,
			</if>
			
			<if test="contact != null">
				<![CDATA[ contact = #{contact} ]]>,
			</if>
										
			update_time = UNIX_TIMESTAMP(now())
			
		 </set>
		 		 
		 where	id = #{id}
		 <if test="userId != null">
			<![CDATA[ and user_id = #{userId} ]]>
		</if>
		 	
    </update> 
    
    
    <delete id="delete" parameterType="ResumeDTO">    
        delete from resume where id = #{id}        
		<if test="userId != null">
			<![CDATA[ and user_id = #{userId} ]]>
		</if>
    </delete> 
    
</mapper> 