<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.TaskTypeMapper">  

	<sql id="where">
	
	    <where>
	    
			<if test="name != null">
				<![CDATA[ and name = #{name} ]]>
			</if>
			
			<if test="uid != null">
				<![CDATA[ and uid = #{uid} ]]>
			</if>
			
			<if test="pid != null">
				<![CDATA[ and pid = #{pid} ]]>
			</if>
			
			
			<choose>
				<when test="ideleted != null">
					<![CDATA[ and ideleted = #{ideleted} ]]>
				</when>
				<otherwise>
					<![CDATA[ and ideleted = 0 ]]>
				</otherwise>
			</choose>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="TaskTypeDTO">   
       insert into task_type(uid,name,descr,creater,tcreate,tmodified,ideleted) 
       values
       (#{uid},#{name},#{descr},#{creater},now(),now(),#{ideleted}) 
    </insert>
      
    
    <select id="query" resultType="TaskTypeDTO" parameterType="TaskTypeQuery">
         
        select * from task_type 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="TaskTypeQuery">   
        select count(1) from task_type 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="TaskTypeDTO" parameterType="java.lang.Long">   
        select * from task_type where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="TaskTypeDTO" parameterType="java.lang.String">   
        select uid,name from task_type where uid = #{uid}  limit 1; 
    </select>  
    
    <select id="queryByCode" resultType="TaskTypeDTO" parameterType="java.lang.String">   
        select * from task_type where code = #{code}  limit 1; 
    </select> 
    
     <select id="queryAll" resultType="TaskTypeDTO" >   
        select uid,name from task_type where ideleted = 0 ; 
    </select> 
    
    
    <update id="update" parameterType="TaskTypeDTO">
    
        update task_type
         
        <set>			
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
		 </set>
		 
		 where	uid = #{uid}
		 	
    </update> 
    
    
    <delete id="delete" parameterType="java.lang.String">
    
        update task_type
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
    
    
</mapper> 