<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.TaskActionMapper">  

	<sql id="where">
	
	    <where>
	    
	    	a.rstatus = s.uid
	    
			<if test="name != null">
				<![CDATA[ and a.name = #{name} ]]>
			</if>
			
			<if test="uid != null">
				<![CDATA[ and a.uid = #{uid} ]]>
			</if>			
			
			<if test="type != null">
				<![CDATA[ and a.type = #{type} ]]>
			</if>
			
			<choose>
				<when test="ideleted != null">
					<![CDATA[ and a.ideleted = #{ideleted} ]]>
				</when>
				<otherwise>
					<![CDATA[ and a.ideleted = 0 ]]>
				</otherwise>
			</choose>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="TaskActionDTO">   
       insert into task_action(uid,name,type,rstatus,creater,tcreate,tmodified,ideleted) 
       values
       (#{uid},#{name},#{type},#{rstatus},#{creater},now(),now(),#{ideleted}) 
    </insert>
      
    
    <select id="query" resultType="TaskActionDTO" parameterType="TaskActionQuery">
         
        select a.*,s.name as sname from task_action a ,task_status s 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by a.${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="queryByStatus" resultType="TaskActionDTO" parameterType="java.lang.String">
         
       	select  a.uid,a.rstatus,a.name from task_action a,task_status_action sa 
		where a.ideleted = 0 and 
		a.uid = sa.action and 
		sa.ideleted = 0  and sa.status = #{status}	
		
    </select>
    
    <select id="queryInitAction" resultType="TaskActionDTO" parameterType="TaskDTO">
        
		select uid,rstatus from task_action a  
		left join (select distinct(action) as action from task_status_action where type = #{type} and ideleted = 0 )b on  
		    a.uid = b.action  
		where a.ideleted = 0 and type = #{type} and  b.action is null	
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="TaskActionQuery">   
        select count(1) from task_action  a ,task_status s
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="TaskActionDTO" parameterType="java.lang.Long">   
        select * from task_action where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="TaskActionDTO" parameterType="java.lang.String">   
        select * from task_action where uid = #{uid}  limit 1; 
    </select>  
    
    <select id="queryByCode" resultType="TaskActionDTO" parameterType="java.lang.String">   
        select * from task_action where code = #{code}  limit 1; 
    </select> 
    
    <select id="queryByType" resultType="TaskActionDTO" parameterType="java.lang.String">   
        select * from task_action where type = #{type} and ideleted = 0; 
    </select> 
    
    
    <update id="update" parameterType="TaskActionDTO">
    
        update task_action
         
        <set>
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="type != null">
				<![CDATA[ type = #{type} ]]>,
			</if>
			
			<if test="rstatus != null">
				<![CDATA[ rstatus = #{rstatus} ]]>,
			</if>
			
			<![CDATA[ creater = #{creater} ]]>,		
			<![CDATA[ tmodified = now()	 ]]>,
				
		 </set>
		 
		 where	uid = #{uid}
		 	
    </update> 
    
    
    <delete id="delete" parameterType="java.lang.String">
    
        update task_action
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
    
    
</mapper> 