<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ryx.RyxAuditRecordMapper">  

    
    
    <sql id="select">		
		id,
	    user_id userId,
	    obj_id objId,
	    obj_type objType,
	    tcreate,
	    status,
	    descr,
	    creater
	    	    
	</sql>

	<sql id="where">
	
	    <where>
	    
			<if test="userId != null">
				<![CDATA[ and user_id = #{userId} ]]>
			</if>
			
			<if test="objType != null">
				<![CDATA[ and obj_type = #{objType} ]]>
			</if>
			
			<if test="objId != null">
				<![CDATA[ and obj_id = #{objId} ]]>
			</if>			
			
			<if test="status != null">
				<![CDATA[ and status = #{status} ]]>
			</if>
			<if test="userId != null">
				<![CDATA[ and user_id = #{userId} ]]>
			</if>
			
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxAuditRecordDTO">   
       insert into ryx_audit_record(       
		    user_id,
		    status,
		    obj_id,
		    obj_type,
		    creater,
		    descr       
       ) 
       values
       (
		    #{userId},
		    #{status},
		    #{objId},
		    #{objType},
		    #{creater},
		    #{descr}
       ) 
    </insert>
      
    
    <select id="query" resultType="RyxAuditRecordDTO" parameterType="RyxAuditRecordQuery">
         
        select         
        <include refid="select"/>        
        from ryx_audit_record         
        <include refid="where"/>		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="getAuditRecordByCourseId" resultType="RyxAuditRecordDTO" parameterType="java.lang.Long" >
         
        select         
        <include refid="select"/>
        from ryx_audit_record t where t.status = 1 and t.course_id = #{courseId} order by feedbackTime desc 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxAuditRecordQuery">   
        select count(1) from ryx_audit_record 
        <include refid="where"/>
    </select>
    
    <select id="getAuditRecordScore" resultType="java.lang.Double" parameterType="RyxAuditRecordQuery">   
        select  avg(score) from ryx_audit_record 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="RyxAuditRecordDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_audit_record where id = #{id}  limit 1;
    </select>
    
    
    <update id="update" parameterType="RyxAuditRecordDTO">
    
        update ryx_audit_record
         
        <set>	
					
			<if test="ideleted != null">
				<![CDATA[ ideleted = #{ideleted} ]]>,
			</if>
			
			<if test="score != null">
				<![CDATA[ score = #{score} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			 creater = #{creater},
			 tmodified = now() 
			 
		 </set>
		 
		 where	id = #{id}
		 	
    </update> 
    
  
    
    <delete id="delete" parameterType="java.lang.String">
    
        update ryx_audit_record
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
</mapper> 