<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ryx.RyxUserCouponMapper">  

    
    
    <sql id="select">		
		id,
	    user_id userId,
	    creater_id createrId,
	    coupon,
	    remark,
	    tcreate,
	    order_id orderId,
	    balance,
	    type,
	    lcreate,
	    obj_type objType,
	    iuse,
	    limi	    
	</sql>

	<sql id="where">
	
	    <where>
	    
	    	<if test="id != null">
				<![CDATA[ and id = #{id} ]]>
			</if>
			
			<if test="userId != null">
				<![CDATA[ and user_id = #{userId} ]]>
			</if>
			
			<if test="createrId != null">
				<![CDATA[ and creater_id = #{createrId} ]]>
			</if>
			
			<if test="type != null">
				<![CDATA[ and type = #{type} ]]>
			</if>
			<if test="tstart != null">
				<![CDATA[ and lcreate >= #{tstart} ]]>
			</if>
			
			<if test="tend != null">
				<![CDATA[ and lcreate < #{tend} ]]>
			</if>
			
			
			<if test="slimi != null">
				<![CDATA[ and limi >= #{slimi} ]]>
			</if>
			
			<if test="elimi != null">
				<![CDATA[ and limi < #{elimi} ]]>
			</if>
			
			<if test="iuse != null">
				<![CDATA[ and iuse = #{iuse} ]]>
			</if>
			
			<if test="scoupon != null">
				<![CDATA[ and coupon > #{scoupon} ]]>
			</if>
			
			<if test="ecoupon != null">
				<![CDATA[ and coupon <= #{ecoupon} ]]>
			</if>
			
			<if test="inorout == 1">
				<![CDATA[ and coupon > 0 ]]>
			</if>
			
			<if test="inorout == 0">
				<![CDATA[ and coupon < 0 ]]>
			</if>
			
			<if test="types != null and types.size()>0" >
	        	and type in
		        <foreach item="type" index="index" collection="types" open="(" separator="," close=")">  
				 	#{type}  
				</foreach>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxUserCouponDTO">   
    
       insert into ryx_user_coupon(       
		    user_id,
		    coupon,
		    remark,
		    creater_id,
		    order_id,
		    balance,
		    type,
		    lcreate,
		    obj_type,
		    limi
       ) 
       values
       (		
		    #{userId},
		    #{coupon},
		    #{remark},
		    #{createrId},
		    #{orderId},
		    #{balance},
		    #{type},
		    UNIX_TIMESTAMP(),
		    #{objType},
		    #{limi}
       ) 
       
       <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() 
		</selectKey>
    </insert>
      
    
    <select id="query" resultType="RyxUserCouponDTO" parameterType="RyxUserCouponQuery">
         
        select
         
        <include refid="select"/>
        
        from ryx_user_coupon 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    
	
	 <update id="update" parameterType="RyxUsersDTO">
        update ryx_user_coupon
        <set>				
			<if test="iuse != null">
				<![CDATA[ iuse = #{iuse} ]]>,
			</if>
			<if test="remark != null">
				<![CDATA[ remark = #{remark} ]]>,
			</if>
		 </set>
		 
		 where	id = #{id}
		 	
    </update> 
	
    
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxUserCouponQuery">   
        select count(1) from ryx_user_coupon 
        <include refid="where"/>
    </select>
    
    <select id="sumCoupon" resultType="java.lang.Double" parameterType="RyxUserCouponQuery">   
        select sum(coupon) from ryx_user_coupon 
        <include refid="where"/>
    </select>
    
</mapper> 