<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <footer th:fragment="comm_footer">
       <div class="footer-links">
           <div class="container">
               <div class="logo">
                   <a href="#"> <img src="/images/logo.png" alt="logo"></a>
               </div>
               <div class="skip-middle">
                   <div class="slide">
                       <a href="/infoAboutus"><div class="title Helvbold">关于我们</div></a>
                       <ul class="link-ul">
                           <li class="link"><a class="Helvbold" href="/infoAboutus">融易学简介</a></a></li>
                           <li class="link"><a class="Helvbold" href="/infoContactus">联系我们</a></a></li>
                           <li class="link"><a class="Helvbold" href="/infoStatement">免责声明</a></a></li>
                       </ul>
                   </div>
                   <div class="slide">
                       <div class="title Helvbold">帮助中心</div>
                       <ul class="link-ul">
                           <li class="link"><a class="Helvbold" href="/infoRegister">如何注册</a></a></li>
                           <li class="link"><a class="Helvbold" href="/infoChoosecourse">如何选课</a></a></li>
                           <li class="link"><a class="Helvbold" href="/infoOpencourse">如何开课</a></li>
                           <li class="link"><a class="Helvbold" href="/infoAvai">课程有效期</a></li>
                       </ul>
                   </div>
                   <div class="slide">
                       <div class="title Helvbold">商务合作</div>
                       <ul class="link-ul">
                           <li class="link"><a class="Helvbold" href="/infoCooperation">合作方式</a></a></li>
                       </ul>
                   </div>
               </div>
               <div class="contact">
                   <div class="icon">
                       <a href="http://wpa.qq.com/msgrd?v=3&uin=3319815559&site=qq&menu=yes">
                           <img class="icon-hidden" src="/images/people.png">
                           <img class="icon-show" src="/images/people_active.png">
                       </a>
                       <a href="javacript:void(0);">
                           <img class="icon-hidden" src="/images/wx.png">
                           <img class="icon-show" src="/images/wx_active.png">
                           <div class="serve-code">
                               <div class="pic">
                                   <img src="/images/app_img.png">
                               </div>
                               <div class="text">关注融易学服务号</div>
                           </div>
                       </a>
                       <a href="javacript:void(0);">
                           <img class="icon-hidden" src="/images/code.png">
                           <img class="icon-show" src="/images/code_active.png">
                           <div class="app-code">
                               <div class="pic">
                                   <img src="/images/ewm.png">
                               </div>
                               <div class="text">扫码下载APP</div>
                           </div>
                       </a>
                   </div>
                   <div class="time">
                       <img src="/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
                   </div>
                   <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
               </div>
           </div>

       </div>
       <div class="footer-info">
           <div class="organization">
               <div class="container">
                   <div class="swiper-container" id="swiper-organization">
                       <div class="swiper-wrapper">
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                           <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                       </div>
                       <div class="swiper-button-prev"></div>
                       <div class="swiper-button-next"></div>
                   </div>
               </div>
           </div>
           <div class="report">
               <div class="container">
                   <div class="row">
                       <div class="col-md-4">
                           <div class="report-item">
                               Copyright©2015-2018********
                           </div>
                       </div>

                       <div class="col-md-4">
                           <div class="report-item">
                               CP备：粤ICP备*********号
                           </div>
                       </div>

                       <div class="col-md-4">
                           <div class="report-item">
                               CP备：粤ICP备*********号
                           </div>
                       </div>
                   </div>

               </div>



           </div>


       </div>

   </footer>
</head>
</html>