<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1920 initial-scale=1.0">
  <!-- First use the latest version of IE and Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>融易学</title>
  <!-- Keyword -->
  <!-- <meta name="keywords" content=""> -->
  <!-- describe -->
  <meta name="description" content="">

  <!-- 360 use Google Chrome Frame -->
  <meta name="renderer" content="webkit">
  <!-- Baidu prohibition of transcoding -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- Definition of web search engine index -->
  <meta name="robots" content="index,follow">
  <!-- ios -->
  <!-- The title that is added to the main screen -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- Whether WebApp full screen mode is enabled -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Setting the background color of the State Bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Android theme-color  Used to control the color of the tabs -->
  <meta name="theme-color" content="#747474">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Turn off the translation plug-in under the Chrome browser -->
  <meta name="google" value="notranslate" />
  <!-- uc Forced vertical screen -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ Forced vertical screen -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC Mandatory full screen -->
  <meta name="full-screen" content="yes">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/public.css" rel="stylesheet">
  <link href="../static/css/inStyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../static/css/font-other.css" />
</head>

<body class="resetStyle">
  <div class="insside-header">
    <div class="container">
      <div class="head-middle">
        <div class="head-l">
          <div class="logo"><a href="/"><img src="../static/images/logo2.png"></a></div>
          <div class="nav-main">
            <div class="nav-list">
              <div class="item">
                <a class="syht" href="#">首页</a>
              </div>
              <div class="item active">
                <a href="/curriculumList.html">全部课程</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <div class="main">
                    <div class="left">
                      <ul class="max-navlist">
                        <li class="active"><a class="pf" href="javacript:void(0);">融资租赁</a></li>
                        <li><a class="pf" href="javacript:void(0);">汽车金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">供应链金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">证券基金</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融科技</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融小动画</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融基础</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="menus-list" id="menus-list">
                        <div class="item active">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">中小微租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">厂商租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">医疗大健康租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">高端制造租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">政府平台租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <a href="/offlineList.html">线下课程</a>
              </div>
              <div class="item">
                <a href="/topteacherList.html">专家阵容</a>
              </div>
              <div class="item ">
                <a class="syht" href="#">企业服务</a>
                <i>
                  <img class="down-hide" src="../static/images/down.png">
                  <img class="down-show" src="../static/images/down_active.png">
                </i>
                <div class="down-content">
                  <ul class="list">
                    <li><a href="/customPage.html">企业内训</a></li>
                    <li><a href="/collegePage.html">企业商学院</a> </li>
                    <li><a href="/enterprisePage.html">企业大学</a></li>
                    <li><a href="/annualPage.html">企业年卡</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <a href="/advisoryList.html">资讯</a>
              </div>
              <div class="item">
                <a href="/booksList.html">书籍</a>
              </div>
            </div>
          </div>
        </div>
        <div class="head-r">
          <div class="search-icon">
            <div class="search-input"><input type="text" placeholder=""></div>
            <button type="submit"><img src="../static/images/icon_search.png"></button>
          </div>
          <div class="operation">
            <span class="it"><a class="syht" href="#">登录</a></span>
            <span class="it">I</span>
            <span class="it"><a class="syht" href="#">注册</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="insside-main">
    <div class="container">
      <ul class="crumbs-list">
        <li class="item"><a href="/">首页</a></li>
        <li class="item"><img src="../static/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">行业资讯</a></li>
        <li class="item"><img src="../static/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">详情</a></li>
      </ul>
      <div class="advisory-details">
        <div class="flex-l">
          <div class="details-title">深圳出台九条措施支持复工复产稳楼市</div>
          <div class="details-time">
            <div class="time">2020–03–06 18</div>
            <div class="line"></div>
            <div class="source">来源:36氪</div>
          </div>
          <div class="details-content">原标题：关键时刻不松劲 慎终如始夺全胜——各地各部门落实习近平总书记要求 坚决打赢疫情防控的人民战争 总体战
            阻击战央视网消息（新闻联播）：习近平总书记在湖北武汉考察疫情防控工作时强调，湖北和武汉疫情防控形势发生积极向好变化，取得阶段<br>
            <p style="margin-top: 10px;">在重症病患集中的金银潭医院，目前还有550多位患者，在方舱关闭后，一些重症患者被转运到这里，正在得到全力救治。</p>
            <p style="margin: 10px 0;">今天（3月12日），武汉抗疫一线再次传来令人鼓舞的消息，湖北新增确诊病例首次降至个位数。</p>
            奋战在湖北、武汉的国家医疗队、各地支援湖北医疗队认真学习领会总书记提出的科学精准救治要求，创建病情管理等核心制度，优化治疗方式，努力使重症和危重症患者的比例下降，整体病情得到好转。“打赢疫情防控阻击战，重点在防。”社区是联防联控、群防群控的主战场，社区防控一线干部党员表示，要继续紧紧依靠人民群众，筑牢筑强社区防线。<br>
            <p style="margin-top: 10px;">习近平总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精神，让群众基本生活得到保障，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了武汉市的部分小区门口。</p>
            <p style="margin-top: 10px;">医务人员健康是战胜疫情的重要保障”。各地把总书记对一线医务人员的关心落实在具体的行动中，出台对医务人员关心举措，从生活、工作两方面给予援鄂医疗队队员和他们的家庭以关怀。</p>
            <p style="margin: 10px 0;">打赢疫情防控阻击战，重点在防。”社区是联防联控、群防群控的主战场，社区防控一线干部党员表示，要继续紧紧依靠人民群众，筑牢筑强社区防线。习近平总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精神，让群众基本生活得到保障，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了武汉市的部分小区门口。
            <p style="margin: 10px 0;">习近平总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精神，让群众基本生活得到保障，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了武汉市的部分小区门口。</p>
            <p style="margin: 10px 0;">医务人员健康是战胜疫情的重要保障”。各地把总书记对一线医务人员的关心落实在具体的行动中，出台对医务人员关心举措，从生活、工作两方面给予援鄂医疗队队员和他们的家庭以关怀。</p>
            <p style="margin: 10px 0;">打赢疫情防控阻击战，重点在防。”社区是联防联控、群防群控的主战场，社区防控一线干部党员表示，要继续紧紧依靠人民群众，筑牢筑强社区防线。习近平习近平总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精医疗队队员和他们的家庭以关怀。</p>
            打赢疫情防控阻击战，重点在防。”社区是联防联控、群防群控的主战场，社区防控一线干部党员表示，要继续紧紧依靠人民群众，筑牢筑强社区防线。习近平总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精神，让群众基本生活得到保障，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了武汉市的部分小区门口。总书记强调，民生稳，人心就稳，社会就稳。武汉市积极落实总书记的讲话精神，让群众基本生活得到保障，社区工作者们以心换心，带着感情和责任做好民生工作。今天上午，一批刚刚从武汉东西湖区的鱼塘里打捞起来的鲜鱼被运送到了武汉市的部分小区门口。<br>
            <p style="margin-top: 10px;">医务人员健康是战胜疫情的重要保障”。各地把总书记对一线医务人员的关心落实在具体的行动中，出台对医务人员关心举措，从生活、工作两方面给予援鄂医疗队队员和他们的家庭以关怀。</p>
          </div>
          <div class="copyright-text">该文观点仅代表作者本人，不代表融易学立场<br>未经允许不得转载，如若转载请联系原作者</div>
          <div class="share-box">
            <div class="lable-list">
              <div class="item">疫情</div>
              <div class="item">武汉</div>
              <div class="item">阻击战</div>
            </div>
            <div class="share-list">
              <div class="item">
                <a href="javacript:void(0);">
                  <img class="icon-hide" src="../static/images/share/icon_weixin.png">
                  <img class="icon-show" src="../static/images/share/weixin_active.png">
                </a>
                <div class="code-box">
                  <div class="img"><img src="../static/images/ewms.png"></div>
                </div>
              </div>
              <div class="item">
                <a href="">
                  <img class="icon-hide" src="../static/images/share/icon_weibo.png">
                  <img class="icon-show" src="../static/images/share/weibo_active.png">
                </a>
              </div>
              <div class="item">
                <a href="">
                  <img class="icon-hide" src="../static/images/share/icon_qq.png">
                  <img class="icon-show" src="../static/images/share/qq_active.png">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-r">
          <div class="recommend offline">
            <div class="tit">推荐线下课</div>
            <div class="pic"><a href=""><img src="../static/images/insidepage/img_sidebar.png"></a></div>
            <div class="pic"><a href=""><img src="../static/images/insidepage/img_sidebar.png"></a></div>
            <div class="pic"><a href=""><img src="../static/images/insidepage/img_sidebar.png"></a></div>
          </div>
          <div class="recommend">
            <div class="tit">推荐线上课</div>
            <div class="pic" style="margin-bottom: 24px;"><a href=""><img src="../static/images/insidepage/img1.png"></a></div>
            <div class="pic"><a href=""><img src="../static/images/insidepage/img2.png"></a></div>
          </div>
          <div class="books-box">
            <div class="tit">行业书籍</div>
            <div class="img"><img src="../static/images/insidepage/img_sidebar1.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="footer">
      <div class="footer-links">
        <div class="container">
          <div class="logo">
            <a href="#"> <img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div class="skip-middle">
            <div class="slide">
              <div class="title Helvbold">关于我们</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_aboutus.html">融易学简介</a></a></li>
                <li class="link"><a class="Helvbold" href="info_contactus.html">联系我们</a></a></li>
                <li class="link"><a class="Helvbold" href="info_statement.html">免责声明</a></a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">帮助中心</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_register.html">如何注册</a></a></li>
                <li class="link"><a class="Helvbold" href="info_choosecourse.html">如何选课</a></a></li>
                <li class="link"><a class="Helvbold" href="info_opencourse.html">如何开课</a></li>
                <li class="link"><a class="Helvbold" href="info_avai.html">课程有效期</a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">商务合作</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_cooperation.html">合作方式</a></a></li>
              </ul>
            </div>
          </div>
          <div class="contact">
            <div class="icon">
              <a href="">
                <img class="icon-hidden" src="../static/images/people.png">
                <img class="icon-show" src="../static/images/people_active.png">
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="../static/images/wx.png">
                <img class="icon-show" src="../static/images/wx_active.png">
                <div class="serve-code">
                  <div class="pic">
                    <img src="../static/images/app_img.png">
                  </div>
                  <div class="text">关注融易学服务号</div>
                </div>
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="../static/images/code.png">
                <img class="icon-show" src="../static/images/code_active.png">
                <div class="app-code">
                  <div class="pic">
                    <img src="../static/images/ewm.png">
                  </div>
                  <div class="text">扫码下载APP</div>
                </div>
              </a>
            </div>
            <div class="time">
              <img src="../static/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
            </div>
            <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
          </div>
        </div>

      </div>

      <div class="footer-info">
        <div class="organization">
          <div class="container">
            <div class="swiper-container" id="swiper-organization">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="report">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="report-item">
                  Copyright©2015-2018********
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>
            </div>

          </div>



        </div>


      </div>

    </div>
  <script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/swiper.min.js"></script>
  <!-- privatjs -->
  <script type="text/javascript" src="../static/js/public.js"></script>
  <script type="text/javascript" src="../static/js/inMain.js"></script>
  <!--end-->
</body>


</html>