<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=1920 initial-scale=1.0">

  <!-- First use the latest version of IE and Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>融易学</title>
  <!-- Keyword -->
  <!-- <meta name="keywords" content=""> -->
  <!-- describe -->
  <meta name="description" content="">

  <!-- 360 use Google Chrome Frame -->
  <meta name="renderer" content="webkit">
  <!-- Baidu prohibition of transcoding -->
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- Definition of web search engine index -->
  <meta name="robots" content="index,follow">
  <!-- ios -->
  <!-- The title that is added to the main screen -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- Whether WebApp full screen mode is enabled -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <!-- Setting the background color of the State Bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Android theme-color  Used to control the color of the tabs -->
  <meta name="theme-color" content="#747474">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Turn off the translation plug-in under the Chrome browser -->
  <meta name="google" value="notranslate" />
  <!-- uc Forced vertical screen -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ Forced vertical screen -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC Mandatory full screen -->
  <meta name="full-screen" content="yes">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/public.css" rel="stylesheet">
  <link href="/css/inStyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/css/font-other.css" />
</head>

<body class="resetStyle">
  <div class="insside-header">
    <div class="container">
      <div class="head-middle">
        <div class="head-l">
          <div class="logo"><a href="/"><img src="/images/logo2.png"></a></div>
          <div class="nav-main">
            <div class="nav-list">
              <div class="item">
                <a class="syht" href="/">首页</a>
              </div>
              <div class="item active">
                <a href="/curriculumList.html">全部课程</a>
                <i>
                  <img class="down-hide" src="/images/down.png">
                  <img class="down-show" src="/images/down_active.png">
                </i>
                <div class="down-content">
                  <div class="main">
                    <div class="left">
                      <ul class="max-navlist">
                        <li class="active"><a class="pf" href="javacript:void(0);">融资租赁</a></li>
                        <li><a class="pf" href="javacript:void(0);">汽车金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">供应链金融</a></li>
                        <li><a class="pf" href="javacript:void(0);">证券基金</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融科技</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融小动画</a></li>
                        <li><a class="pf" href="javacript:void(0);">金融基础</a></li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="menus-list" id="menus-list">
                        <div class="item active">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">中小微租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">厂商租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">医疗大健康租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">高端制造租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">政府平台租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">飞机租赁</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">业务模式</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                          <div class="screen">
                            <div class="superclass">
                              <a class="pfre" href="">汽车金融</a>
                            </div>
                            <div class="subclass">
                              <div class="sub-item"><a href="">业务模式</a></div>
                              <div class="sub-item"><a href="">产品设计</a></div>
                              <div class="sub-item"><a href="">尽职调查</a></div>
                              <div class="sub-item"><a href="">租后管理</a></div>
                              <div class="sub-item"><a href="">不良资产处置</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <a href="/offlineList.html">线下课程</a>
              </div>
              <div class="item">
                <a href="/topteacherList.html">专家阵容</a>
              </div>
              <div class="item ">
                <a class="syht" href="#">企业服务</a>
                <i>
                  <img class="down-hide" src="/images/down.png">
                  <img class="down-show" src="/images/down_active.png">
                </i>
                <div class="down-content">
                  <ul class="list">
                    <li><a href="/customPage.html">企业内训</a></li>
                    <li><a href="/collegePage.html">企业商学院</a> </li>
                    <li><a href="/enterprisePage.html">企业大学</a></li>
                    <li><a href="/annualPage.html">企业年卡</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <a href="/advisoryList.html">资讯</a>
              </div>
              <div class="item">
                <a href="/booksList.html">书籍</a>
              </div>
            </div>
          </div>
        </div>
        <div class="head-r">
          <div class="search-icon">
            <div class="search-input"><input type="text" placeholder=""></div>
            <button type="submit"><img src="/images/icon_search.png"></button>
          </div>
          <div class="operation">
            <span class="it"><a class="syht" href="#">登录</a></span>
            <span class="it">I</span>
            <span class="it"><a class="syht" href="#">注册</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="insside-banner">
    <img src="/images/insidepage/bannerOffline.png">
  </div>
  <div class="offline-main">
    <div class="container">
      <ul class="crumbs-list">
        <li class="item"><a href="/">首页</a></li>
        <li class="item"><img src="/images/insidepage/icon_crumbs.png"></li>
        <li class="item"><a href="">线下课程</a></li>
      </ul>
      <div class="city-middle">
        <div class="city-box">
          <div class="lable-text">城市：</div>
          <div class="city-list autoHeight" id="city-list">
            <div class="item active"><a href="javascript:;">全部</a></div>
            <div class="item"><a href="javascript:;">北京</a></div>
            <div class="item"><a href="javascript:;">上海</a></div>
            <div class="item"><a href="javascript:;">广州</a></div>
            <div class="item"><a href="javascript:;">深圳</a></div>
            <div class="item"><a href="javascript:;">杭州</a></div>
            <div class="item"><a href="javascript:;">成都</a></div>
            <div class="item"><a href="javascript:;">南京</a></div>
            <div class="item"><a href="javascript:;">苏州</a></div>
            <div class="item"><a href="javascript:;">武汉</a></div>
            <div class="item"><a href="javascript:;">天津</a></div>
            <div class="item"><a href="javascript:;">重庆</a></div>
            <div class="item"><a href="javascript:;">西安</a></div>
            <div class="item"><a href="javascript:;">厦门</a></div>
            <div class="item"><a href="javascript:;">宁波</a></div>
            <div class="item"><a href="javascript:;">郑州</a></div>
            <div class="item"><a href="javascript:;">青岛</a></div>
            <div class="item"><a href="javascript:;">贵州</a></div>
            <div class="item"><a href="javascript:;">大理</a></div>
            <div class="item"><a href="javascript:;">贵阳</a></div>
          </div>
          <div class="icon-down" id="icon-down"><img src="/images/insidepage/catalog-down.png"></div>
        </div>
        <!-- <div class="state-box" id="state-main">
          <div class="lable-text">状态：</div>
          <div class="city-list">
            <div class="item"><a href="">全部</a></div>
            <div class="item active"><a href="">未开始</a></div>
            <div class="item"><a href="">进行中</a></div>
            <div class="item"><a href="">已结束</a></div>
          </div>
        </div> -->
      </div>
      <div class="live-middle">
        <div class="offline-list">
          <div class="item">
            <a href="/offlineDetails.html">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit green">进行中</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit green">进行中</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit">未开始</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit">未开始</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit">未开始</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit">未开始</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit black">已结束</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="dt">
                <div class="pic"><img src="/images/home/xxkc.png"></div>
                <div class="liveTit black">已结束</div>
              </div>
              <div class="dd">
                <div class="tit">某大型能源融资租赁最新课程某大型能源融资租赁最新课程</div>
                <div class="time-box">
                  <div class="flex-l">时间：2019-04-28至04-29</div>
                  <div class="flex-r">
                    <img src="/images/home/location.png">深圳
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="more-down">
          <img src="/images/insidepage/icon_more.png">
        </div>
      </div>
      <div class="common-middle scene">
        <div class="seo-tit">往期现场</div>
        <div class="scene-list">
          <div class="item"><img src="/images/insidepage/scene1.png"></div>
          <div class="item"><img src="/images/insidepage/scene2.png"></div>
          <div class="item"><img src="/images/insidepage/scene3.png"></div>
          <div class="item"><img src="/images/insidepage/scene4.png"></div>
          <div class="item"><img src="/images/insidepage/scene5.png"></div>
          <div class="item"><img src="/images/insidepage/scene6.png"></div>
          <div class="item"><img src="/images/insidepage/scene7.png"></div>
          <div class="item"><img src="/images/insidepage/scene8.png"></div>
          <div class="item"><img src="/images/insidepage/scene9.png"></div>
          <div class="item"><img src="/images/insidepage/scene10.png"></div>
          <div class="item"><img src="/images/insidepage/scene11.png"></div>
          <div class="item"><img src="/images/insidepage/scene12.png"></div>
        </div>
      </div>
      <div class="common-middle">
        <div class="seo-tit">学员反馈</div>
        <div class="feedback-main">
          <div class="swiper-container" id="feedback-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page1.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page2.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page3.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page4.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page1.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page2.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page3.png"></div></div>
              <div class="swiper-slide"><div class="pic"><img src="/images/insidepage/page4.png"></div></div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="common-middle serve">
        <div class="seo-tit">服务过的机构</div>
        <div class="serve-main">
          <div class="swiper-container" id="serve-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="sponsor-list">
                  <div class="item"><img src="/images/home/sponsor/p1.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p2.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p3.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p4.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p36.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p5.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p6.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p7.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p8.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p9.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p10.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p11.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p12.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p13.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p14.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p15.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p16.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p17.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p18.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p19.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p20.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p21.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p22.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p23.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p24.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p25.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p26.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p27.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p28.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p29.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p30.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p31.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p32.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p33.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p34.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p35.png" alt=""></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sponsor-list">
                  <div class="item"><img src="/images/home/sponsor/p1.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p2.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p3.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p4.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p36.png" alt=""></div>
                  <div class="item"><img src="/images/home/sponsor/p5.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="footer">
      <div class="footer-links">
        <div class="container">
          <div class="logo">
            <a href="#"> <img src="/images/logo.png" alt="logo"></a>
          </div>
          <div class="skip-middle">
            <div class="slide">
              <div class="title Helvbold">关于我们</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_aboutus.html">融易学简介</a></a></li>
                <li class="link"><a class="Helvbold" href="info_contactus.html">联系我们</a></a></li>
                <li class="link"><a class="Helvbold" href="info_statement.html">免责声明</a></a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">帮助中心</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_register.html">如何注册</a></a></li>
                <li class="link"><a class="Helvbold" href="info_choosecourse.html">如何选课</a></a></li>
                <li class="link"><a class="Helvbold" href="info_opencourse.html">如何开课</a></li>
                <li class="link"><a class="Helvbold" href="info_avai.html">课程有效期</a></li>
              </ul>
            </div>
            <div class="slide">
              <div class="title Helvbold">商务合作</div>
              <ul class="link-ul">
                <li class="link"><a class="Helvbold" href="info_cooperation.html">合作方式</a></a></li>
              </ul>
            </div>
          </div>
          <div class="contact">
            <div class="icon">
              <a href="">
                <img class="icon-hidden" src="/images/people.png">
                <img class="icon-show" src="/images/people_active.png">
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="/images/wx.png">
                <img class="icon-show" src="/images/wx_active.png">
                <div class="serve-code">
                  <div class="pic">
                    <img src="/images/app_img.png">
                  </div>
                  <div class="text">关注融易学服务号</div>
                </div>
              </a>
              <a href="javacript:void(0);">
                <img class="icon-hidden" src="/images/code.png">
                <img class="icon-show" src="/images/code_active.png">
                <div class="app-code">
                  <div class="pic">
                    <img src="/images/ewm.png">
                  </div>
                  <div class="text">扫码下载APP</div>
                </div>
              </a>
            </div>
            <div class="time">
              <img src="/images/phone.png" alt="phone"><span class="text">周一至周五9:00—18:00</span>
            </div>
            <div class="phone"><a href="tel:0755-2532-0861">0755-2532-0861</a></div>
          </div>
        </div>

      </div>

      <div class="footer-info">
        <div class="organization">
          <div class="container">
            <div class="swiper-container" id="swiper-organization">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
                <div class="swiper-slide"><a href="#">机构名称机构名称</a></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="report">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="report-item">
                  Copyright©2015-2018********
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>

              <div class="col-md-4">
                <div class="report-item">
                  CP备：粤ICP备*********号
                </div>
              </div>
            </div>

          </div>



        </div>


      </div>

    </div>
  <script src="/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <!-- privatjs -->
  <script type="text/javascript" src="/js/public.js"></script>
  <script type="text/javascript" src="/js/inMain.js"></script>
  <!--end-->
</body>


</html>