<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ryx.RyxCartMapper">  

    
    
    <sql id="select">
		
		id,
	    buyer_id buyerId,
	    seller_id sellerId,
	    seller_username sellerUsername,
	    obj_id objId,
	    obj_name objName,
	    obj_price objPrice,
	    obj_num objNum,
	    obj_image objImage
	    
	</sql>

	<sql id="where">
	
	    <where>
	    
			<if test="buyerId != null">
				<![CDATA[ and buyer_id = #{buyerId} ]]>
			</if>
			
			<if test="sellerId != null">
				<![CDATA[ and seller_id = #{sellerId} ]]>
			</if>
			
			<if test="objId != null">
				<![CDATA[ and obj_id = #{objId} ]]>
			</if>
			
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxCartDTO">   
       insert into ryx_cart(
              
	     	buyer_id,
		    seller_id,
		    seller_username,
		    obj_id,
		    obj_name,
		    obj_price,
		    obj_num,
		    obj_image      
       
       ) 
       values
       (       
		    #{buyerId},
		    #{sellerId},
		    #{sellerUsername},
		    #{objId},
		    #{objName},
		    #{objPrice},
		    #{objNum},
		    #{objImage}
		    
       ) 
    </insert>
      
    
    <select id="query" resultType="RyxCartDTO" parameterType="RyxCartQuery">
         
        select
         
        <include refid="select"/>
        
        from ryx_cart 
        
        <include refid="where"/>
		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="RyxCartDTO">
         
        select code,name from ryx_cart where ideleted = 0 order by name 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxCartQuery">   
        select count(1) from ryx_cart a,ryx_course c 
        <include refid="where"/> 
        and c.id = a.obj_id
    </select>
    
    <select id="queryById" resultType="RyxCartDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_cart where id = #{id}  limit 1;
    </select>   
    
    
    <select id="getCartTotalPriceByUserId" resultType="java.lang.Double" parameterType="java.lang.Long">   
        select sum(obj_price) from ryx_cart t where t.buyer_id=#{buyerId} group by t.buyer_id
    </select>  
    
    
    <delete id="deleteByUserIdCourceId" parameterType="RyxCartDTO">
    
       delete from ryx_cart where obj_id=#{objId} and buyer_id=#{buyerId}
		 	
    </delete>
    
	
    
    <update id="update" parameterType="RyxCartDTO">
    
        update ryx_cart
         
        <set>	
					
			<if test="name != null">
				<![CDATA[ name = #{name} ]]>,
			</if>
			
			<if test="name1 != null">
				<![CDATA[ name1 = #{name1} ]]>,
			</if>
			
			<if test="ryx_cartType != null">
				<![CDATA[ ryx_cart_type = #{ryx_cartType} ]]>,
			</if>
			
			<if test="ryx_cartScale != null">
				<![CDATA[ ryx_cart_scale = #{ryx_cartScale} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			<if test="member != null">
				<![CDATA[ member = #{member} ]]>,
			</if>

			<if test="contact != null">
				<![CDATA[ contact = #{contact} ]]>,
			</if>
			
			<if test="mobile != null">
				<![CDATA[ mobile = #{mobile} ]]>,
			</if>
			
			<if test="qq != null">
				<![CDATA[ qq = #{qq} ]]>,
			</if>
			
			<if test="email != null">
				<![CDATA[ email = #{email} ]]>,
			</if>
			
			<if test="phone != null">
				<![CDATA[ phone = #{phone} ]]>,
			</if>
			
			<if test="website != null">
				<![CDATA[ website = #{website} ]]>,
			</if>
			
			<if test="industry != null">
				<![CDATA[ industry = #{industry} ]]>,
			</if>
			
			
			 creater = #{creater},
			 tmodified = now() 
			 
		 </set>
		 
		 where	id = #{id} and member=#{member}
		 	
    </update> 
    
   
    
    <delete id="delete" parameterType="java.lang.String">
    
        update ryx_cart
         
        set ideleted = 1
		 
		where uid = #{uid}
		 	
    </delete> 
    
</mapper> 