<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.ryx.RyxMessageMapper">

	 <sql id="select">
		id,
	    oid,
	    otype,
	    lcreate,
	    lmodified,
	    iread,
	    title,
	    ideleted, 
	    image_url imageUrl,
	    url, 
	    descr
	</sql>
	
	
	<sql id="select_list">
		id,
	    oid,
	    otype,
	    lcreate,
	    lmodified,
	    iread,
	    title,
	    ideleted, 
	    image_url imageUrl,
	    url
	</sql>
	<sql id="select_list1">
		m.id id,
	    oid,
	    otype,
	    lcreate,
	    lmodified,
	    u.iread,
	    title,
	    ideleted, 
	    image_url imageUrl,
	    url
	</sql>

	<sql id="where">
	
	    <where>
		
			<if test="oid != null ">
				<![CDATA[ and oid = #{oid} ]]>
			</if>
			
			<if test="otype != null ">
				<![CDATA[ and otype = #{otype} ]]>
			</if>
			
			<if test="iread != null ">
				<![CDATA[ and iread = #{iread} ]]>
			</if>
			
			<if test="ideleted != null ">
				<![CDATA[ and ideleted = #{ideleted} ]]>
			</if>
			
			<if test="tstart != null">
				<![CDATA[ and lcreate >= #{tstart} ]]>
			</if>
			
			<if test="tend != null">
				<![CDATA[ and lcreate < #{tend} ]]>
			</if>
			
		</where>
	</sql>
	<sql id="where1">
	
	    <where>
		
			<if test="oid != null ">
				<![CDATA[ and oid = #{oid} ]]>
			</if>
			
			<if test="otype != null ">
				<![CDATA[ and otype = #{otype} ]]>
			</if>
			
			<if test="iread != null ">
				<![CDATA[ and u.iread = #{iread} ]]>
			</if>
			
			<if test="ideleted != null ">
				<![CDATA[ and ideleted = #{ideleted} ]]>
			</if>
			
			<if test="tstart != null">
				<![CDATA[ and lcreate >= #{tstart} ]]>
			</if>
			
			<if test="tend != null">
				<![CDATA[ and lcreate < #{tend} ]]>
			</if>
			<if test="userId != null">
				<![CDATA[ and u.user_id = #{userId} ]]>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="RyxMessageDTO">   
       insert into ryx_message(otype,oid,title,descr,lcreate,lmodified,iread) 
       values
       (#{otype},#{oid},#{title},#{descr},UNIX_TIMESTAMP(),UNIX_TIMESTAMP(),#{iread})  
       
       <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() 
	   </selectKey>
		
    </insert>
    
    

      
    
    <select id="query" resultType="RyxMessageDTO" parameterType="RyxMessageQuery">
         
        select
         <include refid="select"/>
        from ryx_message 
        <include refid="where"/>
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>
		</if>		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="queryMyMessage" resultType="RyxMessageDTO" parameterType="RyxMessageQuery">
         
        select
         <include refid="select_list1"/>
        from ryx_message m 
        inner join ryx_user_message u
        on m.id = u.msg_id
        <include refid="where1"/>
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
     
    <select id="queryAll" resultType="RyxMessageDTO">
         
        select code,name from ryx_message where ideleted = 0 order by name 
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="RyxMessageQuery">   
        select count(1) from ryx_message 
        <include refid="where"/>
    </select>
     <select id="countMyQuery" resultType="java.lang.Integer" parameterType="RyxMessageQuery">   
        select count(1) from ryx_message m 
        inner join ryx_user_message u
        on m.id = u.msg_id
        <include refid="where1"/>
    </select>
    
    
    <select id="getById" resultType="RyxMessageDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from ryx_message where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="RyxMessageDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from ryx_message where uid = #{uid}  limit 1; 
    </select>
    
     <select id="queryPassdByUid" resultType="java.lang.String" parameterType="java.lang.String">   
        select password from ryx_message where uid = #{uid}  limit 1; 
    </select>    
    
    <select id="queryByCode" resultType="RyxMessageDTO" parameterType="java.lang.String">   
        select
        <include refid="select"/>
        from ryx_message where code = #{code} and ideleted =0 limit 1; 
    </select> 
    
    
    <update id="update" parameterType="RyxMessageDTO">
    
        update ryx_message
         
        <set>	
        
        	<if test="title != null">
				<![CDATA[ title = #{title} ]]>,
			</if>
			
			<if test="descr != null">
				<![CDATA[ descr = #{descr} ]]>,
			</if>
			
			<if test="iread != null">
				<![CDATA[ iread = #{iread} ]]>,
			</if>
			
			<if test="imageUrl != null">
				<![CDATA[ image_url = #{imageUrl} ]]>,
			</if>
			
			<if test="url != null">
				<![CDATA[ url = #{url} ]]>,
			</if>	
			
			lmodified = UNIX_TIMESTAMP(),
			
		 </set>
		 
		where 
		id = #{id}
		 
		 	
    </update> 
    
    
    <delete id="delete" parameterType="RyxMessageDTO"> 
        delete from ryx_message
		where 
		<if test="ids != null and ids.size()>0" >
        	id in
	        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">  
			 	#{id}  
			</foreach>
		</if>		 	
    </delete> 
    
</mapper> 