.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.pfm {
  font-family: "PingFang-Medium" !important;
}
.pfr {
  font-family: PingFangSC-Regular PingFang SC !important;
}
.hvtc {
  font-family: Helvetica-Bold, Helvetica !important;
}
.width1200 {
  width: 1200px !important;
  margin: 0 auto;
}
.blackfont ul li a {
  color: #333 !important;
}
.blackfont ul li a:hover {
  color: #d94f00 !important;
}
.seriesCourseOne-page {
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  .page_box {
    height: 672px;
    background: url(../images/series/orange/bannerbck.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .banner_box {
    width: 787px;
    height: 192px;
    background: url(../images/series/orange/bannerImg2.png) no-repeat center;
    background-size: 100% 100%;
    margin: 200px auto;
    color: #fff;
  }
  .banner_content {
    position: relative;
    h3 {
      padding-top: 10px;
    }
  }
  .banner_title {
    font-size: 74px;
    text-shadow: 0 6px 12px #d94f00;
  }
  .finance_lease_text {
    font-size: 54px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 20px;
    opacity: 0.3;
    margin-top: -35px;
    span:first-child {
      padding-right: 25px;
    }
  }
  .xl {
    letter-spacing: 60px;
    font-size: 25px;
    padding-left: 60px;
  }
  .sale_info {
    margin-top: 25px;
    .price {
      .new_price {
        font-size: 26px;
        span {
          vertical-align: middle;
        }
      }
      .price_text {
        font-size: 36px;
      }
      .old_price {
        font-size: 20px;
        text-decoration: line-through;
        span {
          padding: 0 30px;
        }
      }
    }
  }
  .button-list {
    width: 400px;
    margin: 20px auto;
    overflow: hidden;
    > div {
      font-size: 20px;
      width: 184px;
      height: 45px;
      border: 1px solid #ffffff;
      line-height: 45px;
    }
    a {
      color: #fff;
    }
    > div.active,
    > div:hover {
      color: #f96400;
      background-image: linear-gradient(180deg, #ffffff 0%, #fff4e0 100%);
      box-shadow: 0 6px 6px 0 rgba(216, 87, 0, 0.4);
      cursor: pointer;
      a {
        color: #f96400;
      }
    }
  }
  .isBuy {
    .to_study {
      margin: 100px auto;
    }
  }
  .highlights {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    .lights_list_ul {
      li {
        float: left;
        width: 33.33%;
        margin-bottom: 60px;
        .num {
          color: #f96400;
          span:first-child {
            font-size: 74px;
            font-family: Helvetica-Bold, Helvetica;
          }
          span:last-of-type {
            font-size: 20px;
            font-weight: bold;
          }
          .hasAdd {
            position: relative;
          }
          .hasAdd:after {
            content: "+";
            font-size: 40px;
            position: absolute;
            top: 0;
            right: -25px;
          }
        }
        .detail_text {
          color: #999;
          font-size: 16px;
        }
      }
    }
  }
  .model_title {
    .title_box {
      width: 330px;
      height: 113px;
      margin: 60px auto;
      position: relative;
    }
    .top_bck {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .l_bck {
        width: 224px;
        height: 78px;
        background: url(../images/series/orange/l_bck.png) no-repeat center;
        background-size: 100% 100%;
      }
      .r_bck {
        width: 50px;
        height: 50px;
        background: url(../images/series/orange/r_bck1.png) no-repeat center;
        background-size: 100% 100%;
      }
    }
    .bottom_text {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      h4 {
        font-size: 50px;
        // font-family: Helvetica-Bold, Helvetica;
        font-family: "SourceHanSansCN-Heavy";
        color: #f96400;
        font-weight: bolder;
        text-shadow: 0 2px 8px rgba(249, 100, 0, 0.4);
        margin-top: 30px;
      }
      .bck_text {
        opacity: 0.2;
        font-size: 44px;
        color: #f96400;
        letter-spacing: 0;
        font-weight: bold;
        position: absolute;
        left: 50px;
        bottom: 0;
        font-family: "SourceHanSansCN-Medium";
      }
    }
  }
  .introduce-model {
    width: 100%;
    height: 958px;
    background: url(../images/series/orange/special_bck.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    .introduce-content {
      width: 1200px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -600px;
      div {
        position: absolute;
        width: 80px;
        height: 80px;
        background: url(../images/series/orange/r_bck1.png) no-repeat center;
        background-size: 100% 100%;
        bottom: -23px;
        left: 10px;
      }
      .lip1,
      .lip3 {
        width: 60px;
        height: 60px;
        top: 100px;
        bottom: auto;
        right: 0;
        left: auto;
        background-image: url(../images/series/orange/r_bck3.png);
      }
      .lip3 {
        top: 450px;
        right: 90px;
        background-image: url(../images/series/orange/r_bck1.png);
      }
    }
    .introduce-text {
      width: 972px;
      margin: 0 auto;
      font-size: 14px;
      color: #fff;
      line-height: 25px;
      text-align: justify;
    }
    .goodList {
      overflow: hidden;
      .teacher_img {
        width: 280px;
        font-size: 0;
        margin-top: 46px;
        margin-left: 115px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .ul_list {
      font-size: 16px;
      color: #fff;
      line-height: 54px;
      width: 760px;
      margin-top: 140px;
      li {
        border-radius: 30px;
        height: 54px;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
        background: #f96400;
        margin-bottom: 42px;
        float: left;
        padding: 0 30px;
        span:first-of-type {
          font-size: 22px;
          padding-right: 10px;
        }
      }
      li:first-child {
        margin-left: 50px;
      }
      li:nth-child(2) {
        float: right;
        margin-right: 60px;
      }
      li:nth-child(3) {
        margin-left: 80px;
      }
      li:last-child {
        margin-left: 140px;
      }
    }
  }
  .introduce_list {
    color: #7e7e7e;
    font-size: 24px;
    line-height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .introduce_twelev_box {
      position: relative;
      margin-left: 50px;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 98px;
        height: 109px;
        background: url(../images/series/orange/tu1.png) no-repeat center;
        background-size: 100% 100%;
        position: absolute;
        top: -99px;
        left: 50%;
        z-index: 1;
      }
      &::after {
        background-image: url(../images/series/orange/tu2.png);
        top: auto;
        bottom: -99px;
      }
    }
    .introduce_twelev {
      color: #fff;
      border-radius: 10px;
      background-image: linear-gradient(270deg, #f96400 0%, #ff9e01 80%);
      box-shadow: 0 3px 10px 0 rgba(249, 100, 0, 0.3);
      height: 74px;
      width: 178px;
      position: relative;
      z-index: 3;
    }

    .ul_list {
      margin: 100px 0;
      ul:last-child {
        margin-bottom: 0;
      }
    }
    .hasTwoChild {
      ul:first-child {
        margin-bottom: 99px;
      }
      ul:last-child {
        margin-top: 99px;
      }
    }
    ul {
      position: relative;
      background: url(../images/line.png) repeat-x center;
      background-size: 150% auto;
      margin-bottom: 62px;
      height: 74px;
      float: left;
      padding-left: 13px;
    }

    li {
      padding: 0 32px;
      float: left;
      margin-left: 44px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 3px 10px 0 rgba(125, 125, 125, 0.23);
    }
  }
  .purpose {
    width: 100%;
    height: 340px;
    background: #f96400;
    display: flex;
    justify-content: center;
    align-items: center;
    .purpose_text {
      font-size: 20px;
      color: #fff;
      line-height: 40px;
      text-align: justify;
      padding: 100px 277px;
      background: url(../images/series/orange/dou1.png) no-repeat 160px 43px,
        url(../images/series/orange/dou2.png) no-repeat 880px 160px;
      background-size: 127px 88px;
      span {
        vertical-align: middle;
        font-family: Helvetica;
      }
      .bold_text {
        font-size: 26px;
        padding-left: 20px;
      }
    }
  }
  .catalog {
    .catalog_item {
      background: #fff;
      border: 1px solid #d8d8d8;
      margin-bottom: 30px;
      color: #333;
      font-size: 18px;
      &:first-child .i_top {
        transform: rotate(0deg);
      }
      &:first-child .module_content {
        display: block;
      }
    }
    .module_title {
      line-height: 92px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .left_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .tip {
        width: 12px;
        height: 40px;
        background: #f96400;
      }
      .title {
        font-size: 26px;
        margin-left: 40px;
      }
      .i_top {
        width: 30px;
        height: 20px;
        background: url(../images/series/orange/awwer.png) no-repeat center;
        background-size: 100% 100%;
        margin-right: 38px;
        transition: all 0.5s;
        transform: rotate(180deg);
      }
    }
    .module_content {
      padding: 0 53px;
      color: #333;
      display: none;
    }
    .module_title2 {
      background: #f5f5f5;
      line-height: 50px;
      font-size: 18px;
      color: #333;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .tip {
        width: 8px;
        height: 26px;
        background: #f96400;
      }
      .title {
        span:first-child {
          padding: 0 20px 0 26px;
        }
      }
    }
    .list {
      li {
        line-height: 45px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;
        padding: 0 48px;
        span {
          font-family: PingFangSC-Regular, PingFang SC;
        }
        .left_flex {
          display: flex;
        }
        .right_flex {
          display: flex;
          align-items: center;
          .tryLook_button {
            border: 1px solid #f96400;
            border-radius: 2px;
            font-size: 14px;
            color: #f96400;
            padding: 0 15px;
            line-height: 24px;
            height: 24px;
            margin-right: 28px;
            cursor: pointer;
          }
          .tryLook_button:hover {
            background: #f96400;
            color: #fff;
          }
        }
        .i_video {
          display: inline-block;
          width: 17px;
          height: 15px;
          background: url(../images/series/orange/paly.png) no-repeat center;
          background-size: 100% 100%;
          margin: 0 5px;
        }
        .i_video_span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 30px;
        }
      }
      li:last-child {
        border-bottom: none;
      }
      li:hover {
        color: #f96400;
        .i_video {
          background-image: url(../images/series/orange/paly2.png);
        }
      }
    }
  }
}
.introduce-model.model_title {
  .bottom_text .bck_text {
    color: #fff;
  }
  .bottom_text h4 {
    text-shadow: 0px 3px 2px rgba(11, 72, 102) !important;
    color: #fff !important;
  }
  .top_bck .r_bck {
    background: url(../images/series/orange/r_bck2.png) no-repeat center;
    background-size: 100% 100%;
  }
  // .top_bck .l_bck {
  //   background: url(../images/series/orange/l_bck2.png) no-repeat center;
  //   background-size: 100% 100%;
  // }
  .title_box {
    margin-top: 180px;
    margin-bottom: 10px;
  }
}

// 红色风格
.seriesCourseRed-page {
  .page_box {
    background-image: url(../images/series/red/bannerbck.png);
  }
  .model_title .bottom_text h4 {
    color: #ff3333;
  }
  .model_title .top_bck .l_bck {
    background-image: url(../images/series/red/l_bck.png);
  }
  .button-list > div.active,
  .button-list > div:hover {
    color: #ff3b40;
    background-image: linear-gradient(180deg, #ffffff 0%, #ffcfce 100%);
    a {
      color: #ff3b40;
    }
  }
  .model_title .top_bck .r_bck {
    width: 50px;
    height: 50px;
    background: url(../images/series/red/r_bck1.png) no-repeat center;
    background-size: 100% 100%;
  }
  .highlights .lights_list_ul li .num {
    color: #ff3333;
  }
  .model_title .bottom_text .bck_text {
    color: #ff3333;
  }
  .introduce-model {
    height: 1003px;
    height: auto;
    background-image: url(../images/series/red/special_bck.png);
    .introduce-content .lip2 {
      background-image: url(../images/series/red/r_bck3.png);
      bottom: -37px;
    }
    &.model_title .bottom_text .bck_text {
      color: #fff;
    }
    .introduce-content .lip1,
    .introduce-content .lip3 {
      background-image: url(../images/series/red/r_bck2.png);
    }
    &.model_title .top_bck .r_bck {
      background-image: url(../images/series/red/r_bck4.png);
    }

    .ul_list li {
      background: #ff242a;
      margin-bottom: 56px;
      &:last-child {
        margin-left: 50px;
      }
      &:nth-child(2) {
        position: relative;
        left: -80px;
        bottom: -30px;
      }
      &:nth-child(3) {
        margin-left: 192px;
        margin-bottom: 71px;
      }
    }
  }
  .introduce_list .introduce_twelev {
    background-image: linear-gradient(90deg, #ff6c6a 0%, #ff2c25 100%);
  }
  .purpose {
    background: #ff3d39;
  }
  .purpose .purpose_text {
    background: url(../images/series/red/dou1.png) no-repeat 160px 43px,
      url(../images/series/red/dou2.png) no-repeat 880px 160px;
    background-size: 127px 88px;
  }
}
// 蓝色风格
.seriesCourseBlue-page {
  .page_box {
    background-image: url(../images/series/blue/bannerbck.png);
  }
  .banner_title {
    text-shadow: 0 6px 12px #077de6;
  }
  .model_title .bottom_text h4 {
    color: #1891ff;
    text-shadow: 0 2px 8px rgba(0, 108, 190, 0.4);
  }
  .model_title .top_bck .l_bck {
    background-image: url(../images/series/blue/l_bck.png);
  }
  .button-list > div.active,
  .button-list > div:hover {
    color: #1891ff;
    background-image: linear-gradient(180deg, #ffffff 0%, #e3f6ff 100%);
    a {
      color: #1891ff;
    }
  }
  .model_title .top_bck .r_bck {
    width: 50px;
    height: 50px;
    background: url(../images/series/blue/r_bck1.png) no-repeat center;
    background-size: 100% 100%;
  }
  .highlights .lights_list_ul li .num {
    color: #1891ff;
  }
  .model_title .bottom_text .bck_text {
    color: #1891ff;
  }
  .introduce_list .introduce_twelev_box {
    margin-left: -80px;
  }
  .introduce-model {
    height: 955px;
    height: auto;
    background-image: url(../images/series/blue/special_bck.png);
    .introduce-content .lip2 {
      background-image: url(../images/series/blue/r_bck3.png);
      bottom: -37px;
    }
    &.model_title .bottom_text .bck_text {
      color: #fff;
    }
    .introduce-content .lip1,
    .introduce-content .lip3 {
      background-image: url(../images/series/blue/r_bck2.png);
    }
    &.model_title .top_bck .r_bck {
      background-image: url(../images/series/blue/r_bck4.png);
    }

    .ul_list {
      width: 600px;
      margin-right: 150px;
      li {
        background: #1b76ff;
        margin-bottom: 30px;
        &:last-child {
          margin-left: 50px;
        }
        &:nth-child(3) {
          margin-left: 207px;
          margin-right: 150px;
        }
        &:nth-child(4) {
          float: right;
          margin-right: 20px;
          margin-left: 300px;
        }
      }
    }
  }
  .introduce_list .introduce_twelev {
    background-image: linear-gradient(90deg, #089eff 0%, #1394ff 100%);
  }
  .purpose {
    background: #1891ff;
  }
  .purpose .purpose_text {
    background: url(../images/series/blue/dou1.png) no-repeat 160px 43px,
      url(../images/series/blue/dou2.png) no-repeat 880px 160px;
    background-size: 127px 88px;
  }
}
// 绿色风格
.seriesCourseGreen-page {
  .page_box {
    background-image: url(../images/series/green/bannerbck.png);
  }
  .banner_title {
    text-shadow: 0 6px 12px #09b3c1;
  }
  .model_title .bottom_text h4 {
    color: #26ccdb;
    text-shadow: 0 2px 8px rgba(14, 201, 218, 0.2);
  }
  .model_title .top_bck .l_bck {
    background-image: url(../images/series/green/l_bck.png);
  }
  .button-list > div.active,
  .button-list > div:hover {
    color: #26ccdb;
    background-image: linear-gradient(180deg, #ffffff 0%, #e3f6ff 100%);
    a {
      color: #26ccdb;
    }
  }
  .model_title .top_bck .r_bck {
    width: 50px;
    height: 50px;
    background: url(../images/series/green/r_bck1.png) no-repeat center;
    background-size: 100% 100%;
  }
  .highlights .lights_list_ul li .num {
    color: #26ccdb;
  }
  .model_title .bottom_text .bck_text {
    color: #26ccdb;
  }
  .introduce-model {
    height: 1018px;
    height: auto;
    background-image: url(../images/series/green/special_bck.png);
    .introduce-content .lip2 {
      background-image: url(../images/series/green/r_bck3.png);
      bottom: -37px;
    }
    &.model_title .bottom_text .bck_text {
      color: #fff;
    }
    .introduce-content .lip1,
    .introduce-content .lip3 {
      background-image: url(../images/series/green/r_bck2.png);
    }
    &.model_title .top_bck .r_bck {
      background-image: url(../images/series/green/r_bck4.png);
    }

    .ul_list {
      font-size: 20px;
      margin-top: 110px;
      li {
        background: #0ac4d5;
        span:first-of-type {
          padding-right: 0;
        }
        &:last-child {
          margin-left: 150px;
        }
        &:nth-child(2) {
          margin-right: 30px;
        }
        &:nth-child(3) {
          margin-right: 30px;
          margin-left: 0;
        }
        &:nth-child(4) {
          float: right;
          margin-right: 138px;
        }
        &:nth-child(6) {
          margin-left: 54px;
        }
      }
    }
  }
  .introduce_list .introduce_twelev {
    background-image: linear-gradient(270deg, #2ee1f0 0%, #18d2e4 80%);
  }
  .purpose {
    background: #26ccdb;
  }
  .purpose .purpose_text {
    background: url(../images/series/green/dou1.png) no-repeat 160px 43px,
      url(../images/series/green/dou2.png) no-repeat 880px 160px;
    background-size: 127px 88px;
  }
}
// 黄色风格
.seriesCourseYellow-page {
  .page_box {
    background-image: url(../images/series/yellow/bannerbck.png);
  }
  .banner_title {
    text-shadow: 0 6px 12px #d0890e;
  }
  .model_title .bottom_text h4 {
    color: #faac1d;
    text-shadow: 0 2px 8px rgba(240, 153, 33, 0.5);
  }
  .model_title .top_bck .l_bck {
    background-image: url(../images/series/yellow/l_bck.png);
  }
  .button-list > div.active,
  .button-list > div:hover {
    color: #ffb939;
    background-image: linear-gradient(180deg, #ffffff 0%, #e3f6ff 100%);
    a {
      color: #ffb939;
    }
  }
  .model_title .top_bck .r_bck {
    width: 50px;
    height: 50px;
    background: url(../images/series/yellow/r_bck1.png) no-repeat center;
    background-size: 100% 100%;
  }
  .highlights .lights_list_ul li .num {
    color: #ffb939;
  }
  .model_title .bottom_text .bck_text {
    color: #ffb939;
  }
  .introduce-model {
    height: 1018px;
    height: auto;
    background-image: url(../images/series/yellow/special_bck.png);
    .introduce-content .lip2 {
      background-image: url(../images/series/yellow/r_bck3.png);
      bottom: -37px;
    }
    &.model_title .bottom_text .bck_text {
      color: #fff;
    }
    .introduce-content .lip1,
    .introduce-content .lip3 {
      background-image: url(../images/series/yellow/r_bck2.png);
    }
    &.model_title .top_bck .r_bck {
      background-image: url(../images/series/yellow/r_bck4.png);
    }

    .ul_list li {
      background: #fb950e;
      &:last-child {
        margin-left: 138px;
      }
      // &:nth-child(2) {
      //   margin-left: 181px;
      // }
      &:nth-child(3) {
        margin-left: 79px;
      }
    }
  }
  .introduce_list .introduce_twelev {
    background-image: linear-gradient(270deg, #ffb939 0%, #f49b25 80%);
  }
  .purpose {
    background: #faac1d;
  }
  .purpose .purpose_text {
    background: url(../images/series/yellow/dou1.png) no-repeat 160px 43px,
      url(../images/series/yellow/dou2.png) no-repeat 880px 160px;
    background-size: 127px 88px;
  }
}
// 紫色风格
.seriesCoursePurple-page {
  .page_box {
    background-image: url(../images/series/purple/bannerbck.png);
  }
  .banner_title {
    text-shadow: 0 6px 12px #7c38d2;
  }
  .model_title .bottom_text h4 {
    color: #a065e6;
    text-shadow: 0 2px 8px rgba(14, 201, 218, 0.2);
  }
  .model_title .top_bck .l_bck {
    background-image: url(../images/series/purple/l_bck.png);
  }
  .button-list > div.active,
  .button-list > div:hover {
    color: #a065e6;
    background-image: linear-gradient(180deg, #ffffff 0%, #e3f6ff 100%);
    a {
      color: #a065e6;
    }
  }
  .model_title .top_bck .r_bck {
    width: 50px;
    height: 50px;
    background: url(../images/series/purple/r_bck1.png) no-repeat center;
    background-size: 100% 100%;
  }
  .highlights .lights_list_ul li .num {
    color: #a065e6;
  }
  .model_title .bottom_text .bck_text {
    color: #a065e6;
  }
  .introduce-model {
    height: 1018px;
    height: auto;
    background-image: url(../images/series/purple/special_bck.png);
    .introduce-text {
      text-align: center;
    }
    .introduce-content .lip2 {
      background-image: url(../images/series/purple/r_bck3.png);
      bottom: -37px;
    }
    &.model_title .bottom_text .bck_text {
      color: #fff;
    }
    .introduce-content .lip1,
    .introduce-content .lip3 {
      background-image: url(../images/series/purple/r_bck2.png);
    }
    &.model_title .top_bck .r_bck {
      background-image: url(../images/series/purple/r_bck4.png);
    }

    .ul_list {
      font-size: 20px;
      margin-top: 110px;
      li {
        background: #a667e5;
        span:first-of-type {
          padding-right: 0;
        }
        &:first-child {
          margin-left: 70px;
          margin-right: 200px;
        }
        &:nth-child(2) {
          margin-left: 300px;
          float: left;
        }
        &:nth-child(3) {
          margin-right: 300px;
          margin-left: 20px;
        }
        &:last-child {
          margin-left: 350px;
        }
      }
    }
  }
  .introduce_list .introduce_twelev {
    background-image: linear-gradient(270deg, #c26ae7 0%, #a265e6 80%);
  }
  .purpose {
    background: #a065e6;
  }
  .purpose .purpose_text {
    background: url(../images/series/purple/dou1.png) no-repeat 160px 43px,
      url(../images/series/purple/dou2.png) no-repeat 880px 160px;
    background-size: 127px 88px;
  }
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item{
  color: #9D9D9D;
}
.black-bg.video-full-box {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 1010px;
  height: 567px;
  min-height: auto;
  overflow: hidden;
  display: none;
  .video-middle{
    min-height: auto;
    .resetStyle ul, .resetStyle li{
      background: rgba(64,64,64,0.2);
    }
  }
}
.video-modal{
  .close-video{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    img{
      width: 20px;
    }
    img:last-of-type{
      display: none;
    }
    &:hover{
      img:first-of-type{
        display: none;
      }
      img:last-of-type{
        display: block;
      }
    }
  }
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle{
  height: 40px;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item{
  margin-right: 20px;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item > img{
  height: 16px;
  width: auto;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item:nth-last-child(2) img{
  height: 16px;
  width: auto;
}
.video-middle > .flex-l .video-modal .operation-box .full-box .volume img{
  width: 16px;
}
.video-middle > .flex-l .video-modal .operation-box .full-box .full-screen img{
  width: 16px;
}
.video-middle > .flex-l .video-modal video{
  padding-bottom: 40px;
}
.video-middle > .flex-l .video-modal .get-back{
  top: 15px;
  left: 30px;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .left .icon .icons-shows{
  height: 20px;
  width: auto;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item{
  line-height: 30px;
}
.video-middle > .flex-l .video-modal .operation-box .operation-middle .right .instrument-box > .item.play-speed .app-box{
  bottom:30px;
}

