# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RongyixueUtils\com.ryx.nowedge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
