<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.king.nowedge.mapper.base.KeyvMapper">  
	
	<sql id="select">
		uid,
		display,
		key1,
		ideleted,
		sort,
		type
	</sql>
	<sql id="where">
	
	    <where>
	    
	    	<if test="id != null">
				<![CDATA[ and id = #{id} ]]>
			</if>
			
			<if test="key1 != null and key1 !='' ">
				<![CDATA[ and key1 = #{key1} ]]>
			</if>			
			
			<if test="type != null and type !='0' ">
				<![CDATA[ and type = #{type} ]]>
			</if>			
			
			<if test="display != null ">
				<![CDATA[ and display = #{display} ]]>
			</if>
		
			<if test="ideleted != null">
				<![CDATA[ and ideleted = #{ideleted} ]]>
			</if>
			
		</where>
	</sql>
   
    <insert id="create" parameterType="KeyvDTO">   
       insert into key_v(uid,key1,type,sort,display,ideleted) 
       values
       (#{uid},#{key1},#{type},#{sort},#{display},#{ideleted})  
    </insert>
    
    

      
    
    <select id="query" resultType="KeyvDTO" parameterType="KeyvQuery">
         
        select 
		<include refid="select"/>
		from key_v         
        <include refid="where"/>		
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}	
			<if test="sooort != null and sooort !=''">
				${sooort}
			</if>	
		</if>
		
		<if test="pageSize != null">
			limit ${startRow}, ${pageSize}
		</if>		
		
    </select>
    
    <select id="countQuery" resultType="java.lang.Integer" parameterType="KeyvQuery">   
        select count(1) from key_v 
        <include refid="where"/>
    </select>
    
    <select id="queryById" resultType="KeyvDTO" parameterType="java.lang.Long">   
        select 
        <include refid="select"/>
        from key_v where id = #{id}  limit 1;
    </select>    
    
    <select id="queryByUid" resultType="KeyvDTO" parameterType="java.lang.String">   
        select 
        <include refid="select"/>
        from key_v where uid = #{uid}  limit 1; 
    </select>
    
     
    
    
    <update id="update" parameterType="KeyvDTO">
    
        update key_v
         
        <set>	
					
			<if test="display != null">
				<![CDATA[ display = #{display} ]]>,
			</if>
			
			<if test="sort != null">
				<![CDATA[ sort = #{sort} ]]>,
			</if>
			
			<if test="ideleted != null">
				<![CDATA[ ideleted = #{ideleted} ]]>,
			</if>
			
		 </set>
		 
		 where uid = #{uid}
		 	
    </update> 
    
    
     <select id="countForCreateOrUpdate" resultType="java.lang.Integer" parameterType="KeyvQuery">   
        select count(1) from key_v where uid =  #{uid}
    </select>
    
    
    <update id="update1" parameterType="KeyvDTO">
    
        update key_v
                 
        <set>	
			
			<if test="display != null">
				<![CDATA[ display = #{display} ]]>,
			</if>
			
			<if test="sort != null">
				<![CDATA[ sort = #{sort} ]]>,
			</if>
			
			<if test="ideleted != null">
				<![CDATA[ ideleted = #{ideleted} ]]>,
			</if>
			
		 </set>
		 
		 where uid =  #{uid}
    </update> 
    
    
    <update id="changePassd" parameterType="KeyvDTO">
    	 update key_v set passd = #{passd} where uid = #{uid}
    </update>
    
    <delete id="deleteById" parameterType="java.lang.Long">
    
        update key_v
         
        set ideleted = 1
		 
		where id = #{id}
		 	
    </delete> 
    
    
    <delete id="deleteByUid" parameterType="java.lang.String">    
        delete from key_v where uid = #{uid}		 	
    </delete> 
    
</mapper> 